@import "~src/scss/main.scss";

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

.select-text{
  font-weight: 500;
  color: $violet-1;
  font-family: $font-family-1;
}

.taskbox {
  margin: 0.5rem;
  width: 80%;
  box-shadow: $box-shadow-primary;
  border-radius: 20px;
  cursor: pointer;
  padding: 1rem;
  &--title {
    font-size: 1.4rem;
    font-weight: 500;
    color: $violet-1;
    text-align: center;
  }
  &--date {
    font-size: 0.9rem;
    color: $text-gray;
  }
  &--points{
    color: $text-gray;
    font-size: 0.9rem;
  }

}

.date{
  overflow: hidden;
  color: $violet-1;
  text-align: center;
  font-weight: 600;
  width: 90%;
  margin: 1.5rem 0;
  &::before, &::after {
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before{
    // background-color: $linear-gradient-90-1-1half;
    background: $linear-gradient-90-1-1half;
    right: 1rem;
    margin-left: -50%;
  }
  &::after{
    background: $linear-gradient-90-1-2half;
    left: 1rem;
    margin-right: -50%;
  }

}

.childBox{
  padding: 0.5rem;
  &--checkMark {
    font-size: 2rem;
    color: $green;
  }
  &--XMark {
    font-size: 2rem;
    color: $red-1;
  }
  &--dots {
    font-size: 2rem;
    color: $text-gray;
  }
}