<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="sides">
    <div class="side-left">
      <div class="flex flex-space-between flex-align-center">
        <div class="flex">
          <div
            mat-ripple
            [routerLink]="['', 'app', 'menu']"
            class="back-button"
          >
            <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
            <div i18n="backButton" class="back-button--back">Back</div>
          </div>
        </div>
        <div class="wrapper-flex-center">
          <div class="flex flex-column">
            <div class="wrapper-flex-center">
              <ic-icon class="font-size-4rem" icon="sportsMedal"></ic-icon>
            </div>
            <!-- <div class="font-size-14rem violet text-center mt-1rem">Tasks</div> -->
          </div>
        </div>
      </div>
      <div class="wrapper-flex-center mt-1rem select-text">
        <mat-form-field
          style="max-width: 150px"
          class="select-text"
          appearance="outline"
        >
          <mat-label i18n class="select-text">Tasks</mat-label>
          <mat-select
            [(value)]="selected"
            (selectionChange)="selectChanged($event)"
            class="select-text"
          >
            <mat-option i18n class="select-text" [value]="'showAll'">
              Show all
            </mat-option>
            <mat-option
              class="select-text"
              *ngFor="let child of children"
              [value]="child.name"
            >
              <span *ngIf="child._id !== me._id">
                {{ child.name }}
              </span>
              <span i18n *ngIf="child._id === me._id"> Mine </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="wrapper-flex-center">
        <div class="flex flex-align-center width-80 top-buttons">
          <div
            [routerLink]="['', 'app', 'tasks', 'daily']"
            mat-ripple
            i18n
            [disabled]="!isParent"
            class="side-left__button"
          >
            <ic-icon
              class="font-size-3rem side-left__button--icon"
              icon="shiftsDay20Regular"
            ></ic-icon>
            <div class="side-left__button--text">Daily Tasks</div>
          </div>
          <!-- <div
            [routerLink]="['', 'app', 'tasks', 'daily']"
            mat-ripple
            i18n
            class="
              bttn bttn-clickable bttn-violet
              uppercase
              bttn-small
              top-buttons--button
            "
          >
            Daily Tasks
          </div> -->
          <!-- <div
            [routerLink]="['', 'app', 'tasks', 'add']"
            mat-ripple
            i18n
            class="
              bttn bttn-clickable
              uppercase
              bttn-violet bttn-small
              top-buttons--button
            "
          >
            Create new
          </div> -->
          <div
            [routerLink]="['', 'app', 'tasks', 'add']"
            mat-ripple
            i18n
            class="side-left__button mt-1rem"
          >
            <ic-icon
              class="font-size-3rem side-left__button--icon"
              icon="taskListSquareAdd20Regular"
            ></ic-icon>
            <div class="side-left__button--text">Create new</div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-right">
      <div #scroll>
        <div
          *ngIf="tasksToShow.length == 0"
          class="wrapper-flex-center flex-column mt-1rem"
        >
          <div class="wrapper-flex-center">
            <ic-icon
              class="font-size-4rem mr-1rem"
              icon="manGesturingNoLightSkinTone"
            ></ic-icon>
            <ic-icon
              class="font-size-4rem ml-1rem"
              icon="womanGesturingNoLightSkinTone"
            ></ic-icon>
          </div>
          <div i18n class="wrapper-flex-center mt-1rem notask--info">
            There are no active tasks.
          </div>
        </div>

        <div
          @list
          *ngIf="tasksToShow.length > 0"
          class="wrapper-flex-center flex-column mt-1rem"
        >
          <div
            @items
            class="wrapper-flex-center width-100"
            *ngFor="let task of tasksToShow; let i = index"
          >
            <div class="flex flex-column width-100">
              <div class="wrapper-flex-center">
                <div *ngIf="showDate(i, 'active')" class="date">
                  {{ task.startDate | date: "dd MMMM" }}
                </div>
              </div>
              <div class="wrapper-flex-center">
                <div class="taskbox">
                  <div class="flex flex-column width-100">
                    <div class="wrapper-flex-center">
                      <div class="taskbox--title">
                        {{ task.name }}
                      </div>
                      <ic-icon
                        *ngIf="!task.dailyTask && isParent"
                        (click)="editTask(task); $event.stopPropagation()"
                        class="taskbox--edit mlr-05rem"
                        icon="editIcon"
                      ></ic-icon>
                    </div>
                    <div class="flex flex-space-between mt-05rem">
                      <div class="wrapper-flex-center">
                        <div class="taskbox--points">
                          {{ task.points }}
                        </div>
                        <ic-icon
                          class="font-size-15rem ml-05rem"
                          icon="glowingStar"
                        ></ic-icon>
                      </div>
                      <div class="taskbox--date">
                        {{ task.startDate | date: "HH:mm" }} -
                        {{ task.endDate | date: "HH:mm" }}
                      </div>
                    </div>
                    <div class="wrapper-flex-center mt-05rem flex-wrap">
                      <div class="childBox" *ngFor="let child of task.users">
                        <div class="flex flex-column">
                          <div class="wrapper-flex-center">
                            <img
                              src="{{ child.user.photo }}"
                              class="photo photo-50 photo-mobile white-border"
                              alt="user-photo"
                            />
                          </div>
                          <div class="wrapper-flex-center">
                            <div class="text-center violet">
                              {{ child.user.name }}
                            </div>
                          </div>
                          <div class="wrapper-flex-center text-center">
                            <div
                              *ngIf="child.completed"
                              class="childBox--checkMark"
                            >
                              <ic-icon icon="checkOutlined"></ic-icon>
                            </div>
                            <div
                              *ngIf="!child.completed && !child.abandoned"
                              class="childBox--dots"
                            >
                              <ic-icon icon="dotsThreeHorizontal"></ic-icon>
                            </div>
                            <div
                              *ngIf="child.abandoned"
                              class="childBox--XMark"
                            >
                              <ic-icon icon="xIcon"></ic-icon>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="showCompleteMenu(task)"
                      class="wrapper-flex-center"
                    >
                      <div
                        mat-ripple
                        (click)="confirmTask(task)"
                        [matRippleCentered]="true"
                        [matRippleRadius]="20"
                        class="bttn-icon bttn-icon--light-blue mr-05rem pointer"
                      >
                        <ic-icon
                          class="font-size-15rem p-d-1rem p-m-05rem"
                          icon="checkOutlined"
                        ></ic-icon>
                      </div>
                      <div
                        (click)="abandonTask(task); $event.stopPropagation()"
                        mat-ripple
                        [matRippleCentered]="true"
                        [matRippleRadius]="20"
                        class="bttn-icon bttn-icon--pink ml-05rem pointer"
                      >
                        <ic-icon
                          class="font-size-15rem p-d-1rem p-m-05rem"
                          icon="xIcon"
                        ></ic-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-flex-center mt-1rem">
        <div
          mat-ripple
          (click)="showCompleteClick()"
          class="flex complete-box mb-2rem"
        >
          <div i18n *ngIf="!showCompleted" class="complete-box--name">
            Show completed
          </div>
          <div i18n *ngIf="showCompleted" class="complete-box--name">
            Hide completed
          </div>
          <ic-icon
            [ngClass]="{
              'arrow-to-top': showCompleted,
              'arrow-to-bot': !showCompleted && completedClickedOnce
            }"
            class="ml-1rem"
            icon="arrowDownAlt2"
          ></ic-icon>
        </div>
      </div>

      <div
        *ngIf="tasksCompleted.length == 0 && showCompleted"
        class="wrapper-flex-center flex-column mt-1rem"
      >
        <div class="wrapper-flex-center">
          <ic-icon
            class="font-size-4rem mr-1rem"
            icon="womanGesturingNoLightSkinTone"
          ></ic-icon>
          <ic-icon
            class="font-size-4rem ml-1rem"
            icon="manGesturingNoLightSkinTone"
          ></ic-icon>
        </div>
        <div i18n class="wrapper-flex-center mt-1rem notask--info">
          There are no completed tasks.
        </div>
      </div>

      <div
        @list
        *ngIf="showCompleted && tasksCompleted.length > 0"
        class="wrapper-flex-center flex-column"
      >
        <div
          @items
          class="wrapper-flex-center width-100"
          *ngFor="let task of tasksCompleted; let i = index"
        >
          <div class="flex flex-column width-100">
            <div class="wrapper-flex-center">
              <div *ngIf="showDate(i, 'complete')" class="date">
                {{ task.startDate | date: "dd. MMMM" }}
              </div>
            </div>
            <div class="wrapper-flex-center">
              <div class="taskbox">
                <div class="flex flex-column width-100">
                  <div class="taskbox--title">
                    {{ task.name }}
                  </div>
                  <div class="flex flex-space-between mt-05rem">
                    <div class="wrapper-flex-center">
                      <div class="taskbox--points">{{ task.points }}</div>
                      <ic-icon
                        class="font-size-15rem ml-05rem"
                        icon="glowingStar"
                      ></ic-icon>
                    </div>
                    <div class="taskbox--date">
                      {{ task.startDate | date: "HH:mm" }} -
                      {{ task.endDate | date: "HH:mm" }}
                    </div>
                  </div>
                  <div class="flex mt-05rem flex-wrap">
                    <div class="childBox" *ngFor="let child of task.users">
                      <div class="flex flex-column">
                        <div class="wrapper-flex-center">
                          <img
                            src="{{ child.user.photo }}"
                            class="photo photo-50 photo-mobile white-border"
                            alt="user-photo"
                          />
                        </div>
                        <div class="wrapper-flex-center text-center">
                          <div
                            *ngIf="child.completed"
                            class="childBox--checkMark"
                          >
                            <ic-icon icon="checkOutlined"></ic-icon>
                          </div>
                          <div
                            *ngIf="!child.completed && !child.abandoned"
                            class="childBox--dots"
                          >
                            <ic-icon icon="dotsThreeHorizontal"></ic-icon>
                          </div>
                          <div *ngIf="child.abandoned" class="childBox--XMark">
                            <ic-icon icon="xIcon"></ic-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3rem"></div>
