<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'menu']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div class="back-button--back">Back</div>
    </div>
  </div>

  <div class="wrapper-flex-center">
    <div class="flex flex-column">
      <div class="wrapper-flex-center">
        <ic-icon class="font-size-4rem" icon="trophyIcon"></ic-icon>
      </div>
      <div class="font-size-14rem violet text-center mt-1rem">Rewards</div>
    </div>
  </div>
  <div class="wrapper-flex-center mt-1rem">
    <div class="flex flex-align-center width-80 top-buttons">
      <div
        [routerLink]="['', 'app', 'rewards', 'unlocked']"
        mat-ripple
        class="bttn bttn-clickable bttn-violet uppercase bttn-small top-buttons--button"
      >
        Unlocked
      </div>
      <div
        [routerLink]="['', 'app', 'rewards', 'add']"
        mat-ripple
        class="bttn bttn-clickable uppercase bttn-violet bttn-small top-buttons--button"
      >
        Create new
      </div>
    </div>
  </div>
  <div class="wrapper-flex-center mt-1rem">
    <button
      [routerLink]="['', 'app', 'rewards', 'my']"
      mat-ripple
      class="bttn bttn-clickable uppercase bttn-violet bttn-small top-buttons--button"
    >
      My rewards
    </button>
  </div>
  <div *ngIf="unlockedInfo" class="wrapper-flex-center mt-2rem">
    <div class="infoBox">You have successfully unlocked a reward!</div>
  </div>

  <div class="wrapper-flex-center flex-column mt-1rem">
    <div class="font-size-14rem violet font-500">You have:</div>
    <div class="wrapper-flex-center">
      <div class="font-size-12rem violet font-500">{{ me.points }}</div>
      <ic-icon class="font-size-2rem ml-05rem" icon="glowingStar"></ic-icon>
    </div>
  </div>

  <div class="flex flex-column mt-1rem">
    <div *ngFor="let reward of basicRewards" class="wrapper-flex-center">
      <div class="reward mt-2rem">
        <div class="flex-column">
          <div class="reward--name--points">
            <div class="wrapper-flex-center">
              <div class="reward--name">
                {{ reward.name }}
              </div>
              <ic-icon
                (click)="editReward(reward)"
                class="reward--edit mlr-05rem"
                icon="editIcon"
              ></ic-icon>
            </div>
            <div class="wrapper-flex-center mt-1rem">
              <div class="reward--points">{{ reward.points }}</div>
              <ic-icon
                class="font-size-2rem ml-05rem"
                icon="glowingStar"
              ></ic-icon>
            </div>
          </div>
          <div
            *ngIf="canUnlock(reward)"
            (click)="unlockReward(reward)"
            class="wrapper-flex-center mt-2rem"
          >
            <div class="bttn bttn-small bttn-blue bttn-clickable unlockButton">
              <ic-icon
                class="font-size-15rem unlockButton--icon"
                icon="bxLockOpenAlt"
              ></ic-icon>
              <div>Unlock reward</div>
            </div>
          </div>
          <div *ngIf="!canUnlock(reward)" class="wrapper-flex-center mt-2rem">
            <div class="bttn bttn-small bttn-red bttn-clickable unlockButton">
              <ic-icon
                class="font-size-15rem unlockButton--icon"
                icon="bxLockAlt"
              ></ic-icon>
              <div>Reward locked</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-7rem"></div>
