@import "~src/scss/main.scss";

.reward {
  box-shadow: $box-shadow-secondary;
  padding: 0.5rem;
  width: 80%;
  padding: 1rem 2rem;
  border-radius: 40px;
  &--name {
    font-size: 1.4rem;
    font-weight: 600;
    color: $violet-1;
    text-align: center;
  }
  &--points {
    text-align: center;
    font-weight: 500;
    color: $text-gray;
  }
  &--name--points {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--edit {
    font-size: 1.5rem;
    color: $violet-1;
    cursor: pointer;
  }
}
.top-buttons {
  justify-content: space-between;
  align-items: center;
}

.unlockButton {
  display: flex;
  &--icon {
    margin-right: 0.5rem;
  }
}

@media (max-width: 400px) {
  .top-buttons {
    justify-content: center;
    flex-direction: column;
    &--button {
      margin-top: 1rem;
    }
  }
  .unlockButton {
    flex-direction: column-reverse;
    &--icon {
      margin-right: 0;
    }
  }
  .reward {
    &--name {
      width: 100%;
      text-align: center;
    }
    &--points {
      width: 100%;
      text-align: center;
    }
  }
}
