<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex flex-align-center">
    <ic-icon
      [routerLink]="['', 'app', 'menu']"
      mat-ripple
      class="font-size-16rem ml-1rem mt-1rem border-radius-10 p-05rem"
      icon="arrowBackUp"
    ></ic-icon>
  </div>

  <div class="wrapper-flex-center">
    <div class="flex flex-column">
      <div class="wrapper-flex-center">
        <ic-icon class="font-size-4rem" icon="trophyIcon"></ic-icon>
      </div>
      <!-- <div class="font-size-14rem violet text-center mt-1rem">Rewards</div> -->
    </div>
  </div>
  <div class="wrapper-flex-center mt-1rem">
    <div class="flex flex-align-center width-80 flex-space-between">
      <div
        [routerLink]="['', 'app', 'rewards', 'unlocked']"
        mat-ripple
        class="bttn bttn-clickable bttn-violet uppercase bttn-small"
      >
        Unlocked
      </div>
      <div
        [routerLink]="['', 'app', 'rewards', 'add']"
        mat-ripple
        class="bttn bttn-clickable uppercase bttn-violet bttn-small"
      >
        Create new
      </div>
    </div>
  </div>

  <div class="flex flex-column mt-1rem">
    <div *ngFor="let reward of basicRewards" class="wrapper-flex-center">
      <div class="reward mt-1rem">
        <div class="flex-column">
          <div class="flex flex-custom">
            <div class="reward--name">
              {{ reward.name }}
            </div>
            <div class="reward--points--wrapper">
              <div class="reward--points">{{ reward.points }} Points</div>
            </div>
          </div>
          <div class="wrapper-flex-center mt-2rem">
            <div
              class="bttn bttn-medium bttn-blue bttn-clickable wrapper-flex-center"
            >
              <ic-icon
                class="font-size-15rem mr-05rem"
                icon="bxLockOpenAlt"
              ></ic-icon>
              <div>Unlock reward</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-7rem"></div>
