<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>
<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'join']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div i18n="backButton" class="back-button--back">Back</div>
    </div>
  </div>
  <div class="wrapper-flex-center mt-2rem">
    <div i18n (click)="resetUser()" class="font-size-2rem">Enter as</div>
  </div>
  <div
    mat-ripple
    *ngFor="let user of users"
    (click)="onSelectedUser(user)"
    class="box flex flex-align-center mt-1rem position-relative pt-1rem pb-1rem"
  >
    <div class="ml-1rem">
      <img src="{{ user.photo }}" class="photo photo-50" alt="user-photo" />
    </div>
    <div class="flex flex-column ml-1rem">
      <div class="box--name">{{ user.name }}</div>
      <div class="box--year">{{ user.dateOfBirth | date: "dd/MM/yyyy" }}</div>
    </div>
  </div>
  <div class="wrapper-flex-center mt-2rem">
    <div
      [routerLink]="['', 'app', 'configureAccount']"
      mat-ripple
      class="btn add-button flex"
    >
      <ic-icon class="font-size-15rem mr-1rem" icon="plusLine"></ic-icon>
      <span i18n>Create new profile</span>
    </div>
  </div>
  <div i18n *ngIf="error" class="error mt-1rem">
    Wrong password. Please try again.
  </div>
  <div [ngClass]="{ animate: users.length <= 6 }" *ngIf="selectedUser">
    <div class="flex flex-column mt-2rem">
      <div class="wrapper-flex-center">
        <img
          src="{{ selectedUser.photo }}"
          class="photo photo-100"
          alt="user-photo"
        />
      </div>
      <div class="wrapper-flex-center mt-1rem font-size-18rem">
        {{ selectedUser.name }}
      </div>
    </div>
    <form class="form mt-1rem" [formGroup]="loggingFormGroup">
      <div class="form__row">
        <ic-icon
          [ngClass]="{
            'form__row--icon--red':
              loggingFormGroup.controls.password.invalid &&
              loggingFormGroup.controls.password.touched
          }"
          class="form__row--icon"
          icon="lockPasswordLine"
        ></ic-icon>
        <mat-form-field class="form__row--form-field">
          <mat-label i18n="password">Password</mat-label>
          <input
            formControlName="password"
            type="password"
            minlength="6"
            matInput
            required
          />
          <mat-error
            i18n="passwordInfo"
            *ngIf="loggingFormGroup.controls.password.invalid"
            >Password should have at least 6 characters</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__button mt-3rem mb-1rem">
        <button
          mat-ripple
          i18n="enter"
          (click)="onLogin()"
          class="bttn bttn-primary bttn-clickable bttn-violet bttn-big"
        >
          Enter
        </button>
      </div>
    </form>
  </div>
</div>
<div class="mt-7rem"></div>
