@import "~src/scss/main.scss";

.box {
  width: 80%;
  box-shadow: $box-shadow-secondary;
  // border-bottom: 2px solid $text-gray;

  border-radius: 20px;
  color: $violet-1-dark;
  background-color: white;
  // background-color: #dee3e0;
  // background-color: $blue-2;
  // color: white;
  cursor: pointer;

  &__title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.7s;
    font-family: $font-family-4;
  }
  &__description {
    font-size: 0.9rem;
    // color: $text-gray;
    // animation: textInLeft2 1s ease-in;
  }
}

.list {
  &--title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.7s;
    font-family: $font-family-4;
  }
}

.paper {
  position: relative;
  min-height: 300px;
  width: 90%;
  margin: 2rem auto 2rem auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: $violet-1
}
.paper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid $red-1;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 30px;
  left: 60px;
  background: linear-gradient(transparent, transparent 29px,#d9d9d9 29px);
  background-size: 30px 30px;
}

.paper-content-line {
  line-height: 30px;
  font-weight: 500;
  padding: 0 10px;
  background: transparent;
  z-index: 1;
}

.paper-router{
  position: absolute;
  bottom:0;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.paper-delete{
  position: absolute;
  bottom: 0;
  left: 60px;
  height: 60px;
  width: 60px;
  background-color: transparent;

}

.paper-complete{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 60px;
  background-color: transparent;
}

.line-break {
  opacity: 0;
}

.bttn-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  border: 0 !important;
  outline: none !important;
  width: 40px;
  &--red {
    &::before {
      position: absolute;
      width: 40px;
      background: $red-1;
      border-radius: 50%;
      content: "";
      padding-bottom: 40px;
      z-index: -1;
    }
  }
  &--green{
    &::before{
      position: absolute;
      width: 40px;
      background: $green;
      border-radius: 50%;
      content: "";
      padding-bottom: 40px;
      z-index: -1;
    }
  }
  &--gray{
    &::before{
      position: absolute;
      width: 40px;
      background: $text-gray;
      border-radius: 50%;
      content: "";
      padding-bottom: 40px;
      z-index: -1;
    }
  }
}

.no-title {
  font-size: 2rem;
  color: $violet-1;
  letter-spacing: 1px;
  text-align: center;

  &--icon {
    color: $violet-1;
    font-size: 6rem;
  }
}

.custom-flex {
  justify-content: space-between;
}

.custom-flex-2 {
  justify-content: space-between;
}
.custom-input {
  border: none;
  font-family: $font-family-4;
  height: 30px;
  line-height: 30px;
  color: $violet-1;
  width: 100%;
  border-radius: 10px;
  transition: all 0.8s;
  background-color: transparent;
}

@media (max-width: 500px) {
  .flex-space-between-m {
    display: flex;
    justify-content: space-between;
  }

  .custom-flex {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
  }
  .box {
    width: 90%;
  }
}

@media(max-width: 400px){
  .paper{
    min-height: 360px;
  }
}
