<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex flex-align-center">
    <ic-icon
      [routerLink]="['', 'app', 'menu']"
      mat-ripple
      class="font-size-16rem ml-1rem mt-1rem"
      icon="arrowBackUp"
    ></ic-icon>
  </div>
  <div class="wrapper-flex-center">
    <ic-icon class="font-size-4rem" icon="shoppingCart"></ic-icon>
  </div>
  <!-- <div *ngIf="!isLoading" class="mtb-1rem">
    <app-small-loading></app-small-loading>
  </div> -->
  <div class="wrapper-flex-center mtb-1rem">
    <div
      *ngIf="shoppingListsActive.length > 0"
      (click)="onAddNewList()"
      mat-ripple
      class="bttn bttn-violet bttn-small bttn-clickable wrapper-flex-center"
    >
      <ic-icon class="font-size-18rem mr-05rem" icon="bxListPlus"></ic-icon>
      <div class="create">
        Create new
      </div>
    </div>
  </div>
  <div @list class="mb-2rem" *ngIf="shoppingListsActive.length > 0">
    <div
      @items
      *ngFor="let list of shoppingListsActive; let i = index"
      class="wrapper-flex-center pointer paper"
      (click)="onListClick(list)"
    >
      <div #list class="paper-content">
        <div class="paper-content-line">
          <div *ngIf="!(editMode == i)" class="wrapper-flex-center list--title">
            {{ list.name }}
            <ic-icon
              (click)="runEditMode(i); $event.stopPropagation()"
              class="ml-1rem"
              icon="editIcon"
            ></ic-icon>
          </div>
          <div *ngIf="editMode == i" class="wrapper-flex-center">
            <textarea
              style="overflow: hidden"
              #inputName
              (click)="$event.stopPropagation();"
              (keyup.enter)="exitEditMode(); $event.stopPropagation()"
              (keydown.enter)="$event.preventDefault()"
              minlength="1"
              maxlength="70"
              [(ngModel)]="list.name"
              cdkTextareaAutosize
              placeholder="Aa"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              class="text-center custom-input list--title"
            >
            </textarea>
            <ic-icon
              (click)="exitEditMode(); $event.stopPropagation()"
              class="ml-1rem font-size-15rem"
              icon="confirmIcon"
            ></ic-icon>
          </div>
          <div class="paper-content-line line-break">EMPTY</div>
          <div class="paper-content-line">
            Created By: {{ list.createdBy.name }}
          </div>
          <div class="paper-content-line">
            At: {{ list.createdAt | date: "dd/MM/yyyy" }}
          </div>
          <div class="paper-content-line">
            Completed: {{ calcCompletedItems(list) }}
          </div>
        </div>
      </div>
      <div class="paper-delete">
        <div
          (click)="deleteClick(list); $event.stopPropagation()"
          class="width-100 height-100 wrapper-flex-center"
        >
          <div
            mat-ripple
            [matRippleCentered]="true"
            [matRippleRadius]="20"
            class="bttn-icon bttn-icon--red"
          >
            <ic-icon
              class="font-size-15rem p-d-1rem p-m-05rem"
              icon="trashOutline"
            ></ic-icon>
          </div>
        </div>
      </div>
      <div
        *ngIf="isAllComplete(list) && list.list.length > 0"
        class="paper-complete"
      >
        <div
          (click)="onCompleteClick(list); $event.stopPropagation()"
          class="width-100 height-100 wrapper-flex-center"
        >
          <div
            mat-ripple
            [matRippleCentered]="true"
            [matRippleRadius]="20"
            class="bttn-icon bttn-icon--green"
          >
            <ic-icon
              class="font-size-15rem p-d-1rem p-m-05rem"
              icon="confirmIcon"
            ></ic-icon>
          </div>
        </div>
      </div>
      <div
        *ngIf="!isAllComplete(list) || !list.list.length > 0"
        class="paper-complete"
      >
        <div
          (click)="$event.stopPropagation()"
          class="width-100 height-100 wrapper-flex-center"
        >
          <div
            mat-ripple
            [matRippleCentered]="true"
            [matRippleRadius]="20"
            class="bttn-icon bttn-icon--gray"
          >
            <ic-icon
              class="font-size-15rem p-d-1rem p-m-05rem"
              icon="confirmIcon"
            ></ic-icon>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div *ngIf="shoppingListsActive.length == 0">
      <div class="wrapper-flex-center mt-2rem">
        <ic-icon
          class="no-title--icon"
          icon="baselineRemoveShoppingCart"
        ></ic-icon>
      </div>
      <div class="no-title mtb-1rem">
        Currently you do not have any products to buy.
      </div>
      <div class="wrapper-flex-center mtb-2rem">
        <div
          (click)="onAddNewList()"
          class="bttn bttn-primary text-center bttn-violet bttn-clickable bttn-big"
        >
          Create new list
        </div>
      </div>
    </div>

    <div
      *ngIf="shoppingListsCompleted.length > 0"
      (click)="showCompleteClick()"
      mat-ripple
      class="wrapper-flex-center box-shadow-2 border-radius-20 pointer mlr-2rem ptb-1rem plr-05rem mb-m-3rem"
    >
      <div class="font-size-14rem">
        Show complete({{ shoppingListsCompleted.length }})
      </div>
      <ic-icon
        class="font-size-14rem ml-05rem mt-05rem"
        icon="arrowDownAlt2"
      ></ic-icon>
    </div>


    <div @list class="mb-2rem" *ngIf="shoppingListsCompleted.length > 0 && showComplete">
      <div
        @items
        *ngFor="let list of shoppingListsCompleted; let i = index"
        class="wrapper-flex-center paper"
        (click)="onListClick(list)"
      >
        <div class="paper-content">
          <div class="paper-content-line">
            <div class="wrapper-flex-center list--title">
              {{ list.name }}
            </div>
            <div class="paper-content-line line-break">EMPTY</div>
            <div class="paper-content-line">
              Created By: {{ list.createdBy.name }}
            </div>
            <div class="paper-content-line">
              At: {{ list.createdAt | date: "dd/MM/yyyy" }}
            </div>
            <div class="paper-content-line">
              Completed: {{ calcCompletedItems(list) }}
            </div>
          </div>
        </div>
        <div class="paper-delete">
          <div
            (click)="deleteClick(list); $event.stopPropagation()"
            class="width-100 height-100 wrapper-flex-center"
          >
            <div
              mat-ripple
              [matRippleCentered]="true"
              [matRippleRadius]="20"
              class="bttn-icon bttn-icon--red"
            >
              <ic-icon
                class="font-size-15rem p-d-1rem p-m-05rem"
                icon="trashOutline"
              ></ic-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="mt-3rem opacity-0">Unlocker</div>
</div>
