@import "~src/scss/main.scss";

.stepper {
  margin: 0 auto;

  &__buttons {
    margin-top: 1.2rem;
  }
}

.box{
  background: $background-gray;
  padding: 1rem 2rem;
  box-shadow: $box-shadow-strong;
  border-radius: 20px;
  margin-top: 1rem;
  color: $violet-1;
  
  // font-size: 1.4rem;
  font-weight: 300;
  border: 2px transparent solid;
}

.box-selected{
  border: 2px $violet-1-light solid;
  // background: $violet-1-light;
  // color: #fff;
}

.radio-label{
  height: 90px;
}
.custom-width{
  width: 100%;
  height: 100%;
}
.formField {
  margin-top: 0.3rem;
  width: 90%;
}
.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__long {
    &--icon {
      font-size: 2rem;
      margin-right: 0.5rem;
      color: $light-blue-1;
    }
    &--date {
      font-weight: 500;
      margin-top: 0.7rem;
    }
  }
}

::ng-deep .mat-step-header {
  .mat-step-icon-selected,
  .mat-step-icon-state-edit {
    background-color: $light-blue-1;
  }
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}
:host ::ng-deep .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: $background-gray;
}

