<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex flex-align-center">
    <ic-icon
      [routerLink]="['', 'app', 'tasks']"
      mat-ripple
      class="font-size-16rem ml-1rem mt-1rem border-radius-10 p-05rem"
      icon="arrowBackUp"
    ></ic-icon>
  </div>

  <div class="wrapper-flex-center">
    <ic-icon class="font-size-4rem" icon="memoIcon"></ic-icon>
  </div>

  <div class="wrapper-flex-center mt-1rem">
    <div
      [routerLink]="['', 'app', 'tasks', 'daily', 'add']"
      mat-ripple
      class="bttn uppercase bttn-violet bttn-small"
    >
      Create new
    </div>
  </div>
  <div class="wrapper-flex-center flex-column mt-2rem">
    <div class="wrapper-flex-center">
      <ic-icon class="font-size-2rem" icon="lightBulb"></ic-icon>
    </div>
    <div class="mytooltip mt-1rem">
      You can assign tasks to your children separately for each day and task.
    </div>
  </div>
  <div class="wrapper-flex-center mt-1rem">
    <div (click)="dateYesterday()" class="date date--left">
      <ic-icon icon="arrowLeftAlt2"></ic-icon>
    </div>
    <div class="flex flex-column">
      <div (click)="picker.open()" class="date pointer">
        {{ date | date: "dd. MMMM" }}
      </div>
      <mat-form-field class="hide-calendar">
        <input
          [(ngModel)]="date"
          (dateChange)="onDateChange($event)"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <button mat-button (click)="picker.open()" ></button> -->
    <div (click)="dateTommorow()" class="date date--right">
      <ic-icon icon="arrowRightAlt2"></ic-icon>
    </div>
  </div>
  <div class="wrapper-flex-center mt-1rem">
    <div class="mytooltip">Clicking on date above will open the calendar!</div>
  </div>
  <div *ngIf="checkDateInPast()" class="wrapper-flex-center mtb-2rem">
    <div class="infoBox">You cannot set tasks in the past.</div>
  </div>

  <div class="wrapper-flex-center flex-column">
    <div *ngFor="let dailyTask of tasksToCreate" class="dailyTask">
      <div class="flex custom-flex">
        <div class="flex flex-column width-70">
          <div class="flex">
            <div class="dailyTask--name">
              {{ dailyTask.name }}
            </div>
            <ic-icon
              (click)="editDailyTask(dailyTask); $event.stopPropagation()"
              class="dailyTask--edit mlr-05rem"
              icon="editIcon"
            ></ic-icon>
          </div>
          <div class="flex mt-05rem">
            <div class="dailyTask--points">{{ dailyTask.points }}</div>
            <ic-icon
              class="font-size-15rem ml-05rem"
              icon="glowingStar"
            ></ic-icon>
          </div>
        </div>
        <div class="wrapper-flex-center text-center">
          {{ dailyTask.startDate | date: "HH:mm" }} -
          {{ dailyTask.endDate | date: "HH:mm" }}
        </div>
      </div>
      <div class="wrapper-flex-center flex-wrap mt-1rem">
        <div
          mat-ripple
          (click)="changeUser(dailyTask, child)"
          *ngFor="let child of children"
          class="childBox"
        >
          <div class="flex flex-column">
            <div class="wrapper-flex-center width-100">
              <img
                src="{{ child.photo }}"
                class="photo photo-50 photo-mobile white-border"
                alt="user-photo"
              />
            </div>
            <div class="wrapper-flex-center width-100">
              <div class="childBox--name">
                {{ child.name }}
              </div>
            </div>
            <div
              *ngIf="userOnList(dailyTask, child)"
              class="childBox--checkMark"
            >
              <ic-icon icon="checkOutlined"></ic-icon>
            </div>
            <div *ngIf="!userOnList(dailyTask, child)" class="childBox--XMark">
              <ic-icon icon="xIcon"></ic-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-flex-center mt-2rem">
    <button
      (click)="updateDailyTasks()"
      class="bttn bttn-primary bttn-big bttn-clickable bttn-violet"
    >
      Confirm changes
    </button>
  </div>
</div>
<div class="mt-7rem"></div>
