@import "~src/scss/main.scss";

  :host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background: $linear-gradient-90-1
  }
  .header {
    &__title {
      font-size: 2rem;
      text-align: center;
      font-weight: 800;
      margin-top: 1rem;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  
    &__text {
      font-size: 1rem;
      font-weight: 500;
  
      &--signup {
        text-decoration: none;
      }
    }
  }
  