@import "~src/scss/main.scss";

.sticky-input {
  position: sticky;
  bottom: 50px;
  background-color: $background-gray;
}

.sticky-header{
  position: sticky;
  top: 0px;
  // height: 70px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-gray;
}

.messages {
  position: relative;
  min-height: 80vh;
  font-weight: 500;
}

.image-padding{
  padding-right:38px;
}
.date-padding{
  padding-left:58px;
}

.opacity-0{
  opacity: 0;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.ml-message{
  margin-left: 54px;
}
.mr-message{
  margin-right: 54px;
}


.mr-12rem{
  margin-right: 1.2rem;
}
.ml-12rem{
  margin-left: 1.2rem;
}

.name{
  color: $text-gray;
  padding-left: 64px;
  text-align: left;
  width: 100%;
}

.mt-02rem{
  margin-top: 0.2rem;
}

.message{
  // text-align: justify;
  border-radius: 20px;

  &--violet{
    font-weight: 500;
    background-color: $violet-1;
    color: #fff;
  }
  &--gray{
    font-weight: 500;
    background-color: #e6e6e6;
    color: #000;
    
  }
}

.date-header{
  overflow: hidden;
  color: $text-gray;
  text-align: center;
  font-weight: 600;
  margin: 1.5rem 0;
  &::before, &::after {
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before{
    // background-color: $linear-gradient-90-1-1half;
    background: $text-gray;
    right: 1rem;
    margin-left: -50%;
  }
  &::after{
    background: $text-gray;
    left: 1rem;
    margin-right: -50%;
  }
}

.date-header-2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: $text-gray;
  font-weight: 500;
  margin: 1.5rem 0; 
}


.inputMenu{
  transition: all 1s;

  &--moved{
    // transform: translateX(-7rem);
    animation: chatMenuHide 1s forwards;
  }
}




.messageInput{
  width: 100%;
  border: 2px solid #969595;
  border-radius: 20px;
  font-weight: 500;
  padding: 0.5rem;
  resize: none;
  margin-top: 0.3rem;
  transition: all 1s;

  // &:focus{
  
  // }
}

.sendButton{
  background-color: $violet-1-dark;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  margin-bottom: 0.2rem;

}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}


@media(max-width: 500px){
  .sticky-input{
    bottom: 0px;
  }
}