@import "~src/scss/main.scss";

.sticky-input {
  position: sticky;
  bottom: 50px;
  background-color: $background-gray;
}

.messages {
  position: relative;
  min-height: 80vh;
  font-weight: 500;
}

.image-padding{
  padding-right:38px;
}

.opacity-0{
  opacity: 0;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.ml-message{
  margin-left: 54px;
}
.mr-message{
  margin-right: 54px;
}


.mr-12rem{
  margin-right: 1.2rem;
}
.ml-12rem{
  margin-left: 1.2rem;
}

.name{
  color: $text-gray;
  padding-left: 64px;
  text-align: left;
  width: 100%;
}

.mt-02rem{
  margin-top: 0.2rem;
}

.message{
  text-align: justify;
  border-radius: 20px;

  &--violet{
    background-color: $violet-1;
    color: #fff;
  }
  &--gray{
    background-color: #969595;
    color: #fff;
    
  }
}

.sendButton{
  background-color: $violet-1-dark;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  margin-bottom: 0.2rem;

}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}


@media(max-width: 500px){
  .sticky-input{
    bottom: 0px;
  }
}