<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">

  <div class="sticky-header">
    <ic-icon
      [routerLink]="['', 'app', 'menu']"
      mat-ripple
      class="font-size-16rem ml-1rem mt-1rem border-radius-10"
      icon="arrowBackUp"
    ></ic-icon>
    <div class="mtb-05rem" *ngIf="messageLoading">
      <app-small-loading></app-small-loading>
    </div>
    <ic-icon
    style="opacity: 0;"
    class="font-size-16rem ml-1rem mt-1rem border-radius-10"
    icon="arrowBackUp"
  ></ic-icon>
  </div>

  <div class="messages">
    <div *ngFor="let message of messages; let i = index">
      <p *ngIf="i == 0" class="date-header">
        {{message.date | date: "dd MMMM"}}
      </p>
      <p *ngIf="showHeader(i)" class="date-header">
        {{message.date | date: "dd MMMM"}}
      </p>
      <div *ngIf="message.createdBy._id !== myId">
        <div class="flex">
          <div
            [ngClass]="{
              'mt-1rem': !myLastMessage(i),
              'mt-02rem': myLastMessage(i)
            }"
            class="flex flex-column flex-align-center"
          >
            <div *ngIf="!myLastMessage(i)" class="name">
              {{ message.createdBy.name }}
            </div>
            <div class="flex flex-align-center width-100">
              <div *ngIf="!myNextMessage(i)" class="wrapper-flex-center">
                <img
                  src="{{ message.createdBy.photo }}"
                  class="ml-05rem mt-05rem photo photo-30"
                  alt=""
                />
              </div>
              <div *ngIf="myNextMessage(i)" class="flex">
                <div class="image-padding"></div>
              </div>

              <div
                mat-ripple
                (click)="showDateFn(i)"
                class="flex flex-align-center message message--gray mr-d-2rem mr-m-1rem ml-1rem p-07rem pointer"
              >
                {{ message.message }}
              </div>
            </div>
            <div [@upAndDown] *ngIf="i == showDate" class="flex flex-align-center gray width-100 date-padding">
              {{message.date | date: "HH:mm"}} 
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="message.createdBy._id == myId">
        <div
          [ngClass]="{
            'mt-1rem': !myLastMessage(i),
            'mt-02rem': myLastMessage(i)
          }"
          class="flex flex-reverse flex-align-center mt-1rem"
        >
          <div
            mat-ripple
            (click)="showDateFn(i)"
            class="flex flex-align-center message message--violet ml-message mr-1rem p-07rem pointer"
          >
            {{ message.message }}
          </div>
        </div>
        <div [@upAndDown] *ngIf="i == showDate" class="flex flex-reverse flex-align-center gray mr-15rem">
          {{message.date | date: "HH:mm"}} 
        </div>
      </div>
      <!-- SHOW DATE -->

    </div>
  </div>

  <div style="opacity: 0" class="mt-d-3rem">Unlocker</div>

  <div class="sticky-input">
    <div class="flex">
      <div [@inOutAnimation] *ngIf="!focusedInput" class="flex mr-1rem inputMenu">
        <div mat-ripple class="wrapper-flex-center border-radius-10 mtb-05rem plr-05rem">
          <ic-icon class="font-size-15rem violet" icon="settingsIcon2"></ic-icon>
        </div>
        <div mat-ripple class="wrapper-flex-center border-radius-10 mtb-05rem plr-05rem">
          <ic-icon class="font-size-17rem violet" icon="baselineInsertPhoto"></ic-icon>
        </div>
      </div>
      <div class="width-100">
        <textarea
          #messageRef
          (focus)="focusedInput = true"
          (blur)="focusedInput = false"
          (keyup.enter)="onSend()"
          [(ngModel)]="message"
          cdkTextareaAutosize
          placeholder="Aa"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="7"
          class="messageInput"
        ></textarea>
      </div>
      <div class="wrapper-flex-center ml-05rem">
        <div mat-ripple (click)="onSend()" class="sendButton">
          <ic-icon class="font-size-13rem" icon="arrowRight"></ic-icon>
        </div>
      </div>
    </div>
  </div>
</div>