@import "~src/scss/main.scss";

.sticky-input {
  position: sticky;
  bottom: 50px;
  height: 50px;
  background-color: $background-gray;
}

.messages {
  position: relative;
  min-height: 80vh;
  font-weight: 500;
}

.image-padding{
  padding-right:46px;
}

.opacity-0{
  opacity: 0;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.ml-message{
  margin-left: 62px;
}
.mr-message{
  margin-right: 62px;
}

.mr-12rem{
  margin-right: 1.2rem;
}
.ml-12rem{
  margin-left: 1.2rem;
}

.name{
  color: $text-gray;
}
.mt-4rem {
  margin: 0 !important;
}

.message{
  text-align: justify;
  border-radius: 20px;

  &--violet{
    background-color: $violet-1;
    color: #fff;
  }
  &--gray{
    background-color: #969595;
    color: #fff;
    
  }
}

@media(max-width: 500px){
  .sticky-input{
    bottom: 0px;
  }
}