<!-- <div class="wrapper-flex-center mt-15rem">
    <img [routerLink]="['']" class="img-resize150" src="./../../assets/Family-Time-Logo-3alt.png" alt="Logo">
  </div> -->
<div *ngIf="isLoading" class="spinner-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="user" class="wrapper-flex-center mt-2rem font-size-15rem">
    Hello {{ user.name }}
  </div>
  <div class="boxes mt-2rem">
    <div class="boxes__row">
      <button
        mat-raised-button
        class="boxes__row__box"
        [routerLink]="['', 'app', 'calendar']"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="planner"></ic-icon>
        </div>
        <div i18n="menu_calendar" class="boxes__row__box--name wrapper-flex-center">Calendar</div>
        <div i18n="menu_calendar_desc" class="boxes__row__box--description wrapper-flex-center">
          05 listopada 2020
        </div>
      </button>
      <button
        [routerLink]="['', 'app', 'configureAccount']"
        mat-raised-button
        class="boxes__row__box"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="shoppingCart"></ic-icon>
        </div>
        <div i18n="menu_shoppingCart" class="boxes__row__box--name wrapper-flex-center">
          Shopping
        </div>
        <div class="boxes__row__box--description wrapper-flex-center">2 Banany, Śmietana</div>
      </button>
    </div>
    <div class="boxes__row">
      <button mat-raised-button class="boxes__row__box" [routerLink]="['']">
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name wrapper-flex-center">HOME</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button
        mat-raised-button
        class="boxes__row__box"
        [routerLink]="['', 'app', 'tasks']"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="todoList"></ic-icon>
        </div>
        <div i18n="menu_tasks" class="boxes__row__box--name wrapper-flex-center">Tasks</div>
        <div class="boxes__row__box--description">
          Wyjść z psem, odrobić lekcję
        </div>
      </button>
    </div>
    <div class="boxes__row pb-2rem">
      <button
        mat-raised-button
        class="boxes__row__box"
        [routerLink]="['', 'app', 'login']"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name wrapper-flex-center">LOGIN</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button
        [routerLink]="['', 'app', 'join']"
        mat-raised-button
        class="boxes__row__box"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="settingsIcon"></ic-icon>
        </div>
        <div i18n="menu_settings" class="boxes__row__box--name">DOŁĄCZ</div>
        <div class="boxes__row__box--description">Zmień ustawienia</div>
      </button>
    </div>
    <div class="boxes__row pb-2rem">
      <button mat-raised-button class="boxes__row__box" (click)="onLogout()">
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name wrapper-flex-center">WYLOGUJ SIE</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button
        [routerLink]="['', 'app', 'family']"
        mat-raised-button
        class="boxes__row__box"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="settingsIcon"></ic-icon>
        </div>
        <div i18n="menu_settings" class="boxes__row__box--name wrapper-flex-center">
          Family
        </div>
        <div class="boxes__row__box--description">Zmień ustawienia</div>
      </button>
    </div>
    <div class="boxes__row pb-2rem">
      <button [routerLink]="['', 'app', 'updateAccount']" mat-raised-button class="boxes__row__box">
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name wrapper-flex-center">EditMe</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button
        [routerLink]="['', 'app', 'family']"
        mat-raised-button
        class="boxes__row__box"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="settingsIcon"></ic-icon>
        </div>
        <div i18n="menu_settings" class="boxes__row__box--name">
          Family
        </div>
        <div class="boxes__row__box--description">Zmień ustawienia</div>
      </button>
    </div>
  </div>
</div>
