<div class="container">
  <div class="wrapper-flex-center">
    <img [routerLink]="['']" class="img-resize150" src="./../../assets/Family-Time-Logo-3alt.png" alt="Logo">
  </div>
  <div class="mt-2rem mb-2rem wrapper-flex-center">
    <div class="header__name">Family Name</div>
  </div>
  <div class="boxes">
    <div class="boxes__row">
      <button
        mat-raised-button
        class="boxes__row__box"
        [routerLink]="['', 'calendar']"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="planner"></ic-icon>
        </div>
        <div i18n="menu_calendar" class="boxes__row__box--name">Calendar</div>
        <div i18n="menu_calendar_desc" class="boxes__row__box--description">
          05 listopada 2020
        </div>
      </button>
      <button mat-raised-button class="boxes__row__box">
        <div class="boxes__row__box--icon">
          <ic-icon icon="shoppingCart"></ic-icon>
        </div>
        <div i18n="menu_shoppingCart" class="boxes__row__box--name">
          Shopping Cart
        </div>
        <div class="boxes__row__box--description">2 Banany, Śmietana</div>
      </button>
    </div>
    <div class="boxes__row">
      <button mat-raised-button class="boxes__row__box" [routerLink]="['']">
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name">HOME</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button mat-raised-button class="boxes__row__box" routerLink="tasks">
        <div class="boxes__row__box--icon">
          <ic-icon icon="todoList"></ic-icon>
        </div>
        <div i18n="menu_tasks" class="boxes__row__box--name">Tasks</div>
        <div class="boxes__row__box--description">
          Wyjść z psem, odrobić lekcję
        </div>
      </button>
    </div>
    <div class="boxes__row">
      <button
        mat-raised-button
        class="boxes__row__box"
        [routerLink]="['', 'login']"
      >
        <div class="boxes__row__box--icon">
          <ic-icon icon="familyManWomanGirlBoy"></ic-icon>
        </div>
        <div i18n="menu_family" class="boxes__row__box--name">LOGIN</div>
        <div class="boxes__row__box--description">4 członków</div>
      </button>
      <button mat-raised-button class="boxes__row__box">
        <div class="boxes__row__box--icon">
          <ic-icon icon="settingsIcon"></ic-icon>
        </div>
        <div i18n="menu_settings" class="boxes__row__box--name">Settings</div>
        <div class="boxes__row__box--description">Zmień ustawienia</div>
      </button>
    </div>
  </div>
</div>
