@import "~src/scss/main.scss";

.wrapper {
  min-height: 100vh;
}

.logo-1 {
  position: fixed;
  top: 80%;
  //   left: calc(50% + 55px);
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  z-index: 1;
}

.logo {
  cursor: pointer;
  outline: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.full-vh {
  min-height: 100vh;
  // background: linear-gradient(
  //     315deg,
  //     rgba(231, 239, 249, 0.9) 0%,
  //     rgba(207, 214, 230, 0.9) 74%
  //   ),
  //   url("/assets/back.jpg");
}

.toolbar {
  height: 90px;
}

/*
======================================
                SIDENAV
====================================== */

.sidenav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.menu-toggle {
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $blue-1;
    color: #fff;
  }
}

.menu {
  width: 300px;
  // padding-left: 1rem;
  // padding-right: 2rem;
}

.x-icon-wrapper {
  display: flex;
  align-items: center;
  height: 90px;
}
.x-icon {
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
  color: $blue-1;
  margin-left: 3rem;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: $blue-1;
    color: #fff;
  }
}

.nav-text {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.menu-icon {
  position: relative;
  width: 55px;
  text-align: center;
  font-size: 1.5rem;
}

.menu-button {
  position: relative;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  margin: 0.5rem 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #ece7e7;
    color: $blue-1;
  }
  &-active {
    background-color: #ece7e7;
    color: $blue-1;
  }
}

.menu-header {
  margin: 0.75rem 0;
  margin-left: 1rem;
}

.header-text {
  font-size: 1.2rem;
  color: #adadad;
}

.logout {
  width: 100%;
  position: absolute !important;
  bottom: 0;
}

ul,
li {
  list-style-type: none;

  outline: 0;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}
