@import "~src/scss/main.scss";

.form__row {
  width: 80%;
}

.formField {
  width: 70%;
}

.form-text {
  font-family: $font-family-2;
  font-weight: 500;
  color: $violet-1;
}

.header {
  font-size: 1.4rem;
  color: $violet-1;
  font-weight: 500;
}

.childBox {
  box-shadow: $box-shadow-primary;
  margin: 0.5rem 0.7rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;

  &--name {
    color: $violet-1;
    font-weight: 500;
  }

  &--checkMark {
    font-size: 2rem;
    color: $green;
  }
  &--XMark {
    font-size: 2rem;
    color: $red-1;
  }
}


.rewards-info {
  color: $text-gray;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.reward-box {
  box-shadow: $box-shadow-primary;
  margin: 0.5rem 0.5rem;
  width: 25%;
  text-align: center;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}


:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

@media (max-width: 400px) {
  .reward-box {
    width: 33%;
  }
}
