<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'tasks']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div i18n="backButton" class="back-button--back">Back</div>
    </div>
  </div>
  <div class="wrapper-flex-center flex-column">
    <ic-icon class="font-size-4rem" icon="memoIcon"></ic-icon>
    <div i18n *ngIf="!editMode" class="wrapper-flex-center header mt-1rem">
      New task
    </div>
    <div i18n *ngIf="editMode" class="wrapper-flex-center header mt-1rem">
      Edit task
    </div>
  </div>

  <div *ngIf="editMode" class="wrapper-flex-center mtb-1rem">
    <div
      (click)="deleteTaskConfirm()"
      class="bttn bttn-clickable bttn-red bttn-small uppercase wrapper-flex-center"
    >
      <ic-icon class="font-size-14rem mr-05rem" icon="trashOutline"></ic-icon>
      <div i18n>Remove task</div>
    </div>
  </div>

  <form
    class="flex-column wrapper-flex-center mt-1rem"
    [formGroup]="taskFormGroup"
    (ngSubmit)="checkModeAndSubmit()"
  >
    <div class="form__row mt-1rem">
      <ic-icon
        [ngClass]="{
          'form__row--icon--red':
            taskFormGroup.controls.name.invalid &&
            taskFormGroup.controls.name.touched
        }"
        class="form__row--icon"
        icon="textChangeCase24Regular"
      ></ic-icon>
      <mat-form-field class="form__row--form-field form-text">
        <mat-label>Task</mat-label>
        <input
          matInput
          name="name"
          minlength="3"
          formControlName="name"
          required
        />
        <mat-error i18n *ngIf="taskFormGroup.controls.name.invalid"
          >Task should have at least 3 characters.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="wrapper-flex-center flex-column mt-1rem">
      <div i18n class="header">Assign children</div>
      <div class="wrapper-flex-center flex-column mt-2rem">
        <div class="wrapper-flex-center">
          <ic-icon class="font-size-2rem" icon="lightBulb"></ic-icon>
        </div>
        <div i18n class="mytooltip mt-1rem">
          Choose which of your children should perform this task.
        </div>
      </div>
      <div i18n *ngIf="assignError" class="error mtb-1rem">
        Someone has to be assigned.
      </div>
      <div class="wrapper-flex-center mt-1rem">
        <button
          type="button"
          (click)="onSelectAll()"
          mat-ripple
          class="bttn uppercase bttn-clickable bttn-violet flex bttn-small"
        >
          <ic-icon class="font-size-15rem mr-05rem" icon="peopleIcon"></ic-icon>
          <div i18n>Assign all</div>
        </button>
      </div>
      <div class="wrapper-flex-center flex-wrap mt-1rem">
        <div
          mat-ripple
          (click)="onSelectUser(child)"
          *ngFor="let child of familyChildren"
          class="childBox"
        >
          <div class="flex flex-column">
            <div class="wrapper-flex-center width-100">
              <img
                src="{{ child.user.photo }}"
                class="photo photo-50 photo-mobile white-border"
                alt="user-photo"
              />
            </div>
            <div class="wrapper-flex-center width-100">
              <div class="childBox--name">
                {{ child.user.name }}
              </div>
            </div>
            <div *ngIf="child.isSelected" class="childBox--checkMark">
              <ic-icon icon="checkOutlined"></ic-icon>
            </div>
            <div *ngIf="!child.isSelected" class="childBox--XMark">
              <ic-icon icon="xIcon"></ic-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-flex-center flex-column mt-1rem">
      <div class="wrapper-flex-center">
        <div i18n="points" class="header">Points</div>
        <ic-icon class="font-size-18rem ml-05rem" icon="glowingStar"></ic-icon>
      </div>
      <div class="wrapper-flex-center flex-column mt-2rem">
        <div class="wrapper-flex-center">
          <ic-icon class="font-size-2rem" icon="lightBulb"></ic-icon>
        </div>
        <div i18n class="mytooltip mt-1rem">
          Each assigned child will receive points(on task complete) that can be
          used in the rewards tab.
        </div>
      </div>
      <div
        class="flex flex-align-center flex-space-evenly flex-wrap width-100 mt-1rem"
      >
        <div
          (click)="fillPoints(box)"
          mat-ripple
          *ngFor="let box of rewardBoxes"
          class="reward-box"
        >
          {{ box }}
        </div>
      </div>
      <div class="wrapper-flex-center">
        <div class="wrapper-flex-center box-quantity mt-15rem">
          <div
            (click)="onMarkClick('minus')"
            (mousedown)="onHold('minus')"
            (mousemove)="onStopHold()"
            (mouseup)="onStopHold()"
            mat-ripple
            class="box-quantity--button"
          >
            -
          </div>
          <input
            type="number"
            formControlName="points"
            class="custom-input-quantity transition"
            (change)="checkValid()"
          />
          <div
            (click)="onMarkClick('plus')"
            (mousedown)="onHold('plus')"
            (mouseup)="onStopHold()"
            mat-ripple
            class="box-quantity--button"
          >
            +
          </div>
        </div>
      </div>

      <div i18n class="header mt-2rem">Start / End time</div>
      <div class="wrapper-flex-center flex-column mt-2rem">
        <div class="wrapper-flex-center">
          <ic-icon class="font-size-2rem" icon="lightBulb"></ic-icon>
        </div>
        <div i18n class="mytooltip mt-1rem">
          Setting a start and end time may help your child understand the task
          correctly.
        </div>
      </div>
      <mat-form-field class="formField form-text mt-1rem" appearance="outline">
        <mat-label i18n i18n="event_startDate">Date</mat-label>
        <input
          matInput
          name="startDate"
          [min]="minDate"
          formControlName="startDate"
          [matDatepicker]="DatePicker"
          required
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="DatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #DatePicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <div class="width-70 mtb-05rem">
        <mat-slide-toggle
          i18n="event_allday"
          name="allDay"
          class="form-text-2"
          formControlName="allDay"
          (change)="allDayChange($event)"
          i18n
        >
          Whole day
        </mat-slide-toggle>
      </div>
      <mat-form-field class="formField mt-1rem form-text" appearance="outline">
        <mat-label i18n i18n="event_startTime">Start Time</mat-label>
        <input
          matInput
          name="startTimePicker"
          formControlName="startTime"
          [max]="taskFormGroup.controls.endTime.value"
          [ngxTimepicker]="startTimePicker"
          [format]="24"
          readonly
          required
        />
        <ngx-material-timepicker
          [theme]="pickerTheme"
          #startTimePicker
        ></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field class="formField font-1 form-text" appearance="outline">
        <mat-label i18n="event_endTime">End Time</mat-label>
        <input
          matInput
          name="endTimePicker"
          formControlName="endTime"
          [min]="taskFormGroup.controls.startTime.value"
          [ngxTimepicker]="endTimePicker"
          [format]="24"
          readonly
          required
        />
        <ngx-material-timepicker
          [theme]="pickerTheme"
          #endTimePicker
        ></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <button
      type="submit"
      *ngIf="!editMode"
      i18n
      class="bttn bttn-primary bttn-clickable bttn-gradient bttn-big"
    >
      Add new task
    </button>
    <button
      type="submit"
      i18n
      *ngIf="editMode"
      class="bttn bttn-primary bttn-clickable bttn-gradient bttn-big"
    >
      Edit task
    </button>
  </form>
</div>
<div class="mt-7rem"></div>
