@import "~src/scss/main.scss";

.box{
  cursor: pointer;
  background-color: white;
}

.box-quantity {
  box-shadow: $box-shadow-primary;
  background-color: $background-gray;
  border-radius: 20px;

  &--button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 1rem;
    border-radius: 20px;
    color: #000;

    // background-color: red;
  }
}

.custom-input-list-quantity {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
  border: none;
  background: $background-gray;
}
.transition {
  transition: all 0.5s;
}
.whitespace{
  white-space: pre;
}

.title {
  font-size: 2rem;
  text-align: center;
  // font-weight: 800;
  margin-top: 2rem;
}
.input-invalid {
  color: white;
  background-color: $red-1;
}
.custom-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  white-space: pre;
}
.form {
  margin-top: 1rem;
}

.x{
  font-weight: 600;
  font-size: 1.2rem;
}

.custom-width{
  width: 80%
}
.form-field-width{
  width: 60%;
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

@media (max-width: 500px) {
  .custom-padding {
    padding: 0 1rem;
  }
  .custom-flex{
    justify-content: flex-start;
    flex-direction: column;
  }
  .mt-m-1rem{
    margin-top: 1rem;
  }
  .custom-width{
    width: 100%;
  }
  .form-field-width{
    width: 100%;
  }
}
