<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>
<div *ngIf="!isLoading">
  <div class="flex flex-align-center">
    <ic-icon
      [routerLink]="['', 'app', 'shopping', 'list']"
      queryParamsHandling="preserve"
      mat-ripple
      class="font-size-16rem ml-1rem mt-1rem"
      icon="arrowBackUp"
    ></ic-icon>
  </div>
  <div *ngIf="mode != 'edit'" class="title">Add product</div>
  <div *ngIf="mode == 'edit'" class="title">Add product</div>
  <form class="form" [formGroup]="addFormGroup">
    <div class="wrapper-flex-center flex-column">
      <div class="custom-flex width-100">
        <div class="wrapper-flex-center width-30 mt-m-1rem">
          <div
            [ngClass]="{
              'input-invalid':
                buttonTouched && addFormGroup.controls.quantity.invalid
            }"
            class="box-quantity custom-flex transition"
          >
            <div class="flex space-between">
              <div
                (click)="onMarkClick('minus')"
                (mousedown)="onHold('minus')"
                (mouseup)="onStopHold()"
                mat-ripple
                class="box-quantity--button"
              >
                -
              </div>
              <input
                [ngClass]="{
                  'input-invalid':
                    buttonTouched && addFormGroup.controls.quantity.invalid
                }"
                type="number"
                formControlName="quantity"
                class="custom-input transition"
                (change)="checkValid()"
              />
              <div
                (click)="onMarkClick('plus')"
                (mousedown)="onHold('plus')"
                (mouseup)="onStopHold()"
                mat-ripple
                class="box-quantity--button"
              >
                +
              </div>
            </div>
          </div>
        </div>
        <div class="width-10 flex flex-center x mlr-05rem mt-m-2rem">X</div>
        <div class="wrapper-flex-center form-field-width mt-m-1rem">
          <mat-form-field class="width-90 mt-m-1rem mt-05rem">
            <mat-label>What do you need to buy?</mat-label>
            <input formControlName="name" matInput required />
            <mat-error *ngIf="addFormGroup.controls.name.invalid"
              >Please provide a valid name.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="wrapper-flex-center flex-column mt-2rem">
      <mat-form-field class="width-70 mt-05rem">
        <mat-label>Additional information</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="details"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="7"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="form__button mt-3rem mb-2rem">
      <button
        mat-ripple
        (click)="onAdd()"
        type="submit"
        class="btn bttn-primary bttn-clickable bttn-gradient width-70 ptb-05rem"
      >
        <span *ngIf="mode !== 'edit'">Add to list</span>
        <span *ngIf="mode == 'edit'">Edit</span>
      </button>
    </div>
  </form>
</div>
