@import "~src/scss/main.scss";

.container {
  position: relative;
  background: $background-gray;
  max-width: 500px;
  min-height: 500px;
  max-height: 820px;
  height: 100%;
  border-radius: 3rem;
  padding-top: 0;
  overflow: hidden;
}
.footer {
  background-image: $linear-gradient-90-1;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 550px;
  margin-left: -40px;
  height: 50px;
}
.white {
  color: white;
}
.scrollbar {
  min-height: 100%;
}

.spacer {
  height: 100%;
  padding: 2rem 0;
}

@media (max-width: 500px) {
  .container {
    border-radius: 0;
  }
  .phonebar {
    display: none;
  }
  .footer {
    display: none;
  }
  .spacer {
    padding: 0;
  }
}
// @media (max-height: 800px) and (min-width: 500px) {
//   .spacer {
//     padding: 0.5rem 0;
//   }
//   .footer {
//     bottom: 0;
//   }
// }
@media (max-height: 1400px) and (min-width: 500px) {
  // .phonebar{
  //   display: none;
  // }
  .container {
    max-width: 1200px;
  }
  .spacer {
    padding: 2rem;
  }
  .footer {
    display: none;
  }
}
