@import "~src/scss/main.scss";

.container {
  position: relative;
  background: $background-gray;
  max-width: 500px;
  min-height: 500px;
  height: 100%;
  border-radius: 3rem;
  padding-top: 0;
  overflow: hidden;

  & > .sticky-input {
    padding: 0;
  }
}
.footer {
    background: $blue-2;
    width: 100%;
    position: absolute;
    bottom:0;
    width: 550px;
    margin-left: -40px;
    height: 50px;
}
.white{
  color: white;
}
.scrollbar {
  min-height: 100%;
}

@media (max-width: 500px) {
  .container {
    border-radius: 0;
  }
  .phonebar{
      display: none;
  }
  .footer{
    display: none;
  }
}
@media(max-height:900px){
  .spacer {
    padding: 0;
  }
  .footer{
    bottom: 0;
  }
}



