<mat-drawer-container class="wrapper" autosize>
  <!-- <app-header></app-header> -->
  <mat-drawer
    class="menu"
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
  >
    <ul class="menu-list">
      <li>
        <div class="menu-toggle" (click)="isExpanded = !isExpanded">
          <ic-icon
            class="menu-icon menu-toggle-icon"
            icon="hamburgerMenu"
          ></ic-icon>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/menu']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="homeLine"></ic-icon>
          <span *ngIf="isExpanded" class="nav-text">Home</span>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/calendar']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="calendarLine"></ic-icon>
          <span *ngIf="isExpanded" class="nav-text">Calendar</span>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/shopping']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="shoppingCartLine"></ic-icon>
          <span *ngIf="isExpanded" class="nav-text">Shopping</span>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/tasks']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="tasksLine"></ic-icon>
          <span *ngIf="isExpanded" class="nav-text">Tasks</span>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/rewards']"
          class="menu-button"
          routerLinkActive="menu-button-active"
        >
          <ic-icon class="menu-icon" icon="starLine"></ic-icon>
          <span *ngIf="isExpanded" class="nav-text">Rewards</span>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/chat']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="chatBubbleLine"></ic-icon>
          <div *ngIf="isExpanded" class="nav-text">Chat</div>
        </div>
      </li>
      <li>
        <div
          [routerLink]="['/app/settings']"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="settingsLine"></ic-icon>
          <div *ngIf="isExpanded" class="nav-text">Settings</div>
        </div>
      </li>
      <li>
        <div
          (click)="onLogout()"
          routerLinkActive="menu-button-active"
          class="menu-button"
        >
          <ic-icon class="menu-icon" icon="settingsLine"></ic-icon>
          <div *ngIf="isExpanded" class="nav-text">Logout</div>
        </div>
      </li>
      <!-- <li class="logout">
        <div class="menu-button">
          <ic-icon class="menu-icon" icon="logoutIcon"></ic-icon>
          <span class="nav-text">Log out</span>
        </div>
      </li> -->
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
