<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'shopping']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div i18n="backButton" class="back-button--back">Back</div>
    </div>
  </div>
  <div class="wrapper-flex-center">
    <ic-icon class="font-size-4rem" icon="shoppingCart"></ic-icon>
  </div>
  <div *ngIf="list" class="wrapper-flex-center title violet mt-1rem">
    {{ list.name }}
  </div>
  <div class="wrapper-flex-center mb-1rem">
    <div
      (click)="onCreateClick()"
      mat-ripple
      [ngClass]="{
        'bttn-gray': !isParent && !settings.shoppingLists.childCanAddItemToList
      }"
      class="bttn bttn-violet bttn-small bttn-clickable wrapper-flex-center mt-1rem"
    >
      <ic-icon
        class="font-size-18rem mr-05rem"
        icon="baselineAddShoppingCart"
      ></ic-icon>
      <div i18n class="font-size-12rem">Add new product</div>
    </div>
  </div>
  <div i18n *ngIf="showInfo" class="error mtb-1rem">
    This list is completed and you cannot make any changes.
  </div>
  <div @list *ngIf="list && list.list.length > 0" class="mb-2rem">
    <div @items *ngFor="let item of list.list; let i = index">
      <div class="wrapper-flex-center flex-column">
        <div
          id="box-{{ i }}"
          mat-ripple
          (click)="onClickItem(i)"
          class="box btn mtb-05rem"
        >
          <div class="flex flex-column">
            <div class="custom-flex-2">
              <div class="width-80-m mlr-1rem">
                <div
                  [ngClass]="{ 'line-through1': item.completedAt }"
                  class="box__title width-90 wrapper-flex-center-med"
                >
                  {{ item.quantity }} x {{ item.name }}
                </div>
              </div>
              <div class="width-20-m wrapper-flex-center">
                <div
                  *ngIf="!item.completedAt"
                  mat-ripple
                  [matRippleCentered]="true"
                  [matRippleRadius]="20"
                  class="wrapper-flex-center width-100 bttn-icon bttn-icon--red"
                  (click)="onCheck(i); $event.stopPropagation()"
                >
                  <ic-icon
                    class="font-size-15rem p-d-1rem p-m-05rem"
                    icon="xIcon"
                  ></ic-icon>
                </div>
                <div
                  *ngIf="item.completedAt"
                  mat-ripple
                  [matRippleCentered]="true"
                  [matRippleRadius]="20"
                  class="wrapper-flex-center width-100 bttn-icon bttn-icon--green"
                  (click)="onCheck(i); $event.stopPropagation()"
                >
                  <ic-icon
                    class="font-size-15rem p-d-1rem p-m-05rem"
                    icon="confirmIcon"
                  ></ic-icon>
                </div>
              </div>
            </div>
            <div
              *ngIf="clicked == i"
              [@moveUpDown]
              class="box__clicked-content mt-1rem"
            >
              <div class="flex flex-column">
                <div class="box__clicked-content--details ml-d-1rem">
                  <span *ngIf="item.details">
                    {{ item.details }}
                  </span>
                  <span i18n *ngIf="!item.details"> No details provided. </span>
                </div>
                <div class="flex custom-flex mt-15rem">
                  <div
                    class="wrapper-flex-center flex-column box__description ml-1rem"
                  >
                    <div class="box__description-createdAt">
                      <span i18n>Added:</span>
                      {{ item.createdAt | date: "dd/MM/yy HH:mm" }}
                    </div>
                    <div class="box__description-createdBy">
                      <span i18n>By:</span>
                      {{ item.createdBy.name }}
                    </div>
                  </div>
                  <div class="box__clicked-content--buttons">
                    <div class="wrapper-flex-center ml-1rem-m">
                      <div
                        (click)="onEdit(i); $event.stopPropagation()"
                        mat-ripple
                        [matRippleCentered]="true"
                        [matRippleRadius]="20"
                        [ngClass]="{
                          'bttn-icon--gray':
                            !isParent &&
                            !settings.shoppingLists.childCanEditItemOnList
                        }"
                        class="btn bttn-icon bttn-icon--violet mr-1rem rotate"
                      >
                        <ic-icon class="icon p-1rem" icon="editIcon"></ic-icon>
                      </div>
                      <div
                        (click)="onDeleteClick(i); $event.stopPropagation()"
                        mat-ripple
                        [matRippleCentered]="true"
                        [matRippleRadius]="20"
                        [ngClass]="{
                          'bttn-icon--gray':
                            !isParent &&
                            !settings.shoppingLists.childCanEditItemOnList
                        }"
                        class="btn bttn-icon bttn-icon--red mr-05rem rotate"
                      >
                        <ic-icon
                          class="icon p-1rem"
                          icon="trashOutline"
                        ></ic-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
