@import "~src/scss/main.scss";

.title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.box {
  width: 80%;
  box-shadow: $box-shadow-secondary;
  background-color: white;
  color: $violet-1-dark;
  padding: 0.5rem 0.5rem !important;

  border-radius: 20px;

  &__title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.7s;
    font-family: $font-family-4;
  }
  &__description {
    font-size: 0.9rem;
  }

  &__clicked-content {
    &--details {
      text-align: left;
    }
    &--buttons {
      animation: textInRight 1s ease-in;
    }
  }
}

.custom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-flex-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emptylist {
  font-weight: 500;
  font-size: 1.4rem;
  color: $violet-1;
}

.width-80-m {
  width: 80%;
}

.width-20-m {
  width: 20%;
}

.custom-btn {
  background: $pink-1;
  color: white;
}

.btn {
  padding: 0.3rem 0.75rem;
}

.rotate {
  animation: buttonRotate 1s ease-in;
}

.line-through {
  text-decoration: line-through;
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

@media (max-width: 420px) {
  .custom-flex {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .custom-flex-2 {
    flex-direction: column;
    justify-content: flex-start;
  }

  .width-80-m {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .width-20-m {
    width: 100%;
    margin-top: 0.7rem;
  }
  .ml-1rem-m {
    margin-left: 1rem;
  }
  .box__clicked-content--details {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-height: 1400px) and (min-width: 500px) {
  .back-button {
    margin: 0;
  }
  .sides {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    // margin-top: 2rem;
    justify-content: space-around;
    align-items: flex-start;
    // border-top: 2px solid $violet-1;
  }
  .side-left {
    padding-top: 2rem;
    position: sticky;
    width: 40%;
    top: 10px;
  }
  .side-right {
    padding: 1rem;
    width: 70%;
    min-height: 80vh;
    left: 55%;
    // border-left: 2px #d1cae3 solid;
    top: 10%;
  }
}
