<!-- <div class="bar">
    <div class="bar__start">
        <div class="bar__start--time">{{now | date:"HH:mm"}}</div>
    </div>
    <div class="bar__end">
        <div class="bar--icon bar__end--signal"><ic-icon icon="signalIcon"></ic-icon></div>
        <div class="bar--icon bar__end--wifi"><ic-icon icon="wifiIcon"></ic-icon></div>
        <div class="bar--icon bar__end--battery"><ic-icon icon="batteryFull"></ic-icon></div>
    </div>
</div> -->
<mat-toolbar class="toolbar">
    <div class="flex flex-align-center ml-2rem width-100">
        <img class="photo-70" src="./assets/FamilyTime_newLogo.png" alt="Logo">
        <img class="photo-90" src="./assets/FamilyTime_text.png" alt="Logo">
    </div>
</mat-toolbar>