@import "~src/scss/main.scss";

.box {
  box-shadow: $box-shadow-primary;
  border-radius: 20px;
  width: 90%;
  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--desc {
      display: flex;
      align-items: center;
    }
    &--points {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;
    }
  }
}

.family {
  font-size: 2rem;
  color: $violet-1;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0.7rem 0;
}

.token {
  color: $violet-1;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-left: 0.5rem;
}

.invite {
  font-weight: 500;
  font-size: 1.1rem;
  color: $violet-1;
}

@media (max-width: 400px) {
  .box-flex {
    flex-direction: column;
    justify-content: left;
    &--desc {
      width: 100%;
    }
    &--points {
      margin-top: 1rem;
      margin-right: 0;
    }
  }
}
@media (max-height: 1400px) and (min-width: 500px) {
  .back-button {
    margin: 0;
  }
  .form {
    width: 90%;
  }
  .sides {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    // margin-top: 2rem;
    justify-content: space-around;
    align-items: flex-start;
    // border-top: 2px solid $violet-1;
  }
  .side-left {
    padding-top: 2rem;
    position: sticky;
    width: 40%;
    top: 10px;
  }
  .side-right {
    width: 70%;
    position: sticky;
    height: 90%;
    left: 55%;
    border-left: 2px #d1cae3 solid;
    top: 10%;
  }
}
