<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="container">
    <div class="header">
        <div class="header__logo"><img (click)="onNavigate()" class="header__logo--resize" src="./../../assets/Family-Time-Logo.png" alt="Logo"></div>
      <div class="header__title">Create an account</div>
    </div>
    <p *ngIf="info">Wszystko git</p>
    <form (submit)="onSignup()" [formGroup]="signupFormGroup" class="login">
      <!-- <div *ngIf="error" class="alert alert-danger" role="alert">
            Podałeś zły e-mail, hasło lub Twoje konto jest nieaktywne.
          </div> -->
      <div class="login__row">
        <ic-icon [ngClass]="{'login__row--icon--red': signupFormGroup.controls.email.invalid && signupFormGroup.controls.email.touched}" class="login__row--icon" icon="emailLine"></ic-icon>
        <mat-form-field class="login__row--form-field">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            name="email"
            formControlName="email"
            required
          />
          <mat-error *ngIf="signupFormGroup.controls.email.invalid"
            >Please provide a valid email address</mat-error
          >
        </mat-form-field>
      </div>
      <div class="login__row">
        <ic-icon [ngClass]="{'login__row--icon--red': signupFormGroup.controls.password.invalid && signupFormGroup.controls.password.touched}" class="login__row--icon" icon="lockPasswordLine"></ic-icon>
        <mat-form-field class="login__row--form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            formControlName="password"
            matInput
            minlength="6"
            required
          />
          <mat-error *ngIf="signupFormGroup.controls.password.invalid"
          >Password must have at least 6 characters.</mat-error
        >
        </mat-form-field>
      </div>
      <div class="login__row">
        <ic-icon [ngClass]="{'login__row--icon--red': signupFormGroup.controls.passwordConfirm.invalid && signupFormGroup.controls.passwordConfirm.touched}" class="login__row--icon" icon="lockPasswordLine"></ic-icon>
        <mat-form-field class="login__row--form-field">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            name="passwordConfirm"
            formControlName="passwordConfirm"
            matInput
            minlength="6"
            required
          />
          <mat-error *ngIf="signupFormGroup.controls.passwordConfirm.invalid"
          >Passwords are not the same.</mat-error
        >
        </mat-form-field>
      </div>
      <div class="login__button">
        <button mat-ripple class="btn login__button--primary" type="submit">
          Signup
        </button>
      </div>
    </form>
  
    <div class="bottom">
      <div class="bottom__text">
        Already have an account?
        <a [routerLink]="['','login']" class="bottom__text--signup">Sign in</a>
      </div>
    </div>
  </div>
  