@import "~src/scss/variables.scss";
.background {
  height: 100%;
  width: 100%;
  background-image: $linear-gradient-180-08,
    url(./../assets/Family-background2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.spacer {
  height: 100%;
  padding: 2rem 0;
}

@media (max-width: 500px) {
  .spacer {
    padding: 0;
  }
}

@media (min-width: 800px) {
  .background {
    background-image: $linear-gradient-180-08,
      url(./../assets/Family-background.jpg);
  }
}
