<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'rewards']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div i18n="backButton" class="back-button--back">Back</div>
    </div>
  </div>
  <div class="wrapper-flex-center">
    <div class="flex flex-column">
      <div class="wrapper-flex-center">
        <ic-icon class="font-size-4rem" icon="trophyIcon"></ic-icon>
      </div>
      <div i18n class="font-size-14rem violet text-center mt-1rem">My rewards</div>
    </div>
  </div>

  <div
    *ngIf="rewards.length == 0"
    class="wrapper-flex-center flex-column mt-2rem"
  >
    <div class="wrapper-flex-center">
      <ic-icon
        class="font-size-4rem mr-1rem"
        icon="manGesturingNoLightSkinTone"
      ></ic-icon>
      <ic-icon
        class="font-size-4rem ml-1rem"
        icon="womanGesturingNoLightSkinTone"
      ></ic-icon>
    </div>
    <div i18n class="wrapper-flex-center mt-1rem noreward--info">
      There are no rewards yet.
    </div>
  </div>

  <div *ngIf="rewards.length > 0" class="flex flex-column mt-1rem">
    <div *ngFor="let reward of rewards" class="wrapper-flex-center mt-2rem">
      <div class="reward">
        <div class="flex flex-column">
          <div class="wrapper-flex-center">
            <div class="reward--name">
              {{ reward.name }}
            </div>
          </div>
          <div class="wrapper-flex-center mt-1rem">
            <div class="reward--date">
              {{ reward.unlockedAt | date: "dd. MMMM HH:mm" }}
            </div>
          </div>
          <div class="flex reward__flex flex-align-center mt-1rem">
            <div class="wrapper-flex-center reward--status">
              <div *ngIf="!reward.confirmed" class="wrapper-flex-center">
                <ic-icon
                  class="reward--pending mr-05rem"
                  icon="dotsThreeHorizontal"
                ></ic-icon>
                <div i18n class="reward--pending--text">Pending</div>
              </div>
              <div *ngIf="reward.confirmed" class="wrapper-flex-center">
                <ic-icon
                  class="reward--approved mr-05rem"
                  icon="checkOutlined"
                ></ic-icon>
                <div i18n class="reward--approved--text">Approved</div>
              </div>
            </div>
            <div class="wrapper-flex-center reward--points--wrapper">
              <div class="reward--points">{{ reward.points }}</div>
              <ic-icon
                class="font-size-2rem ml-05rem"
                icon="glowingStar"
              ></ic-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-7rem"></div>
