<div *ngIf="isLoading">
  <app-custom-loading></app-custom-loading>
</div>

<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'rewards']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div i18n="backButton" class="back-button--back">Back</div>
    </div>
  </div>

  <div class="wrapper-flex-center">
    <div class="flex flex-column">
      <div class="wrapper-flex-center">
        <ic-icon class="font-size-4rem" icon="trophyIcon"></ic-icon>
      </div>
      <div *ngIf="editMode" i18n class="wrapper-flex-center header mt-1rem">
        Edit reward
      </div>
      <div *ngIf="!editMode" i18n class="wrapper-flex-center header mt-1rem">
        New reward
      </div>
    </div>
  </div>

  <div *ngIf="editMode" class="wrapper-flex-center mtb-1rem">
    <div
      (click)="deleteRewardConfirm()"
      class="bttn bttn-clickable bttn-red bttn-small uppercase wrapper-flex-center"
    >
      <ic-icon class="font-size-14rem mr-05rem" icon="trashOutline"></ic-icon>
      <div i18n>Remove reward</div>
    </div>
  </div>

  <form
    class="flex-column wrapper-flex-center mt-2rem"
    [formGroup]="rewardFormGroup"
    (ngSubmit)="checkModeAndSubmit()"
  >
    <div class="form__row mt-1rem">
      <ic-icon
        [ngClass]="{
          'form__row--icon--red':
            rewardFormGroup.controls.name.invalid &&
            rewardFormGroup.controls.name.touched
        }"
        class="form__row--icon"
        icon="textChangeCase24Regular"
      ></ic-icon>
      <mat-form-field class="form__row--form-field form-text">
        <mat-label i18n>Reward</mat-label>
        <input
          matInput
          name="name"
          minlength="3"
          formControlName="name"
          required
        />
        <mat-error i18n *ngIf="rewardFormGroup.controls.name.invalid"
          >Reward should have at least 3 characters.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="wrapper-flex-center flex-column mt-1rem">
      <div class="wrapper-flex-center">
        <div i18n="points" class="header">Points</div>
        <ic-icon class="font-size-2rem ml-05rem" icon="glowingStar"></ic-icon>
      </div>
      <div class="wrapper-flex-center flex-column mt-2rem">
        <div class="wrapper-flex-center">
          <ic-icon class="font-size-2rem" icon="lightBulb"></ic-icon>
        </div>
        <div i18n class="mytooltip mt-1rem">
          Your children can unlock this reward with points earned by completing
          tasks. You can decide how many points will be needed.
        </div>
      </div>
      <div class="wrapper-flex-center">
        <div class="wrapper-flex-center box-quantity mt-15rem">
          <div
            (click)="onMarkClick('minus')"
            (mousedown)="onHold('minus')"
            (mousemove)="onStopHold()"
            (mouseup)="onStopHold()"
            mat-ripple
            class="box-quantity--button"
          >
            -
          </div>
          <input
            type="number"
            formControlName="points"
            class="custom-input-quantity transition"
            (change)="checkValid()"
          />
          <div
            (click)="onMarkClick('plus')"
            (mousedown)="onHold('plus')"
            (mouseup)="onStopHold()"
            mat-ripple
            class="box-quantity--button"
          >
            +
          </div>
        </div>
      </div>
      <div
        class="flex flex-align-center flex-space-evenly flex-wrap width-100 mt-1rem"
      >
        <div
          (click)="fillPoints(box)"
          mat-ripple
          *ngFor="let box of rewardBoxes"
          class="reward-box"
        >
          {{ box }}
        </div>
      </div>
    </div>
    <button
      type="submit"
      i18n
      *ngIf="editMode"
      class="bttn bttn-primary bttn-clickable bttn-gradient bttn-big mt-2rem"
    >
      Edit reward
    </button>
    <button
      *ngIf="!editMode"
      type="submit"
      i18n
      class="bttn bttn-primary bttn-clickable bttn-gradient bttn-big mt-2rem"
    >
      Add reward
    </button>
  </form>
</div>
<div class="mt-7rem"></div>
