@import "~src/scss/main.scss";

.form__row {
  width: 80%;
}

.formField {
  width: 70%;
}

.form-text{
    font-family: $font-family-1;
    font-weight: 600;
    color: $violet-1;
}

.header {
  font-size: 1.4rem;
  color: $violet-1;
  font-weight: 500;
}

.box-quantity {
  box-shadow: $box-shadow-primary;
  background-color: $violet-1-light;
  color: #fff;
  border-radius: 20px;

  &--button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 1rem;
    border-radius: 20px;

    // background-color: red;
  }
}

.custom-input {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: $violet-1-light;
  color: #fff;
}

.reward-box {
  box-shadow: $box-shadow-primary;
  margin: 0.5rem 0.5rem;
  width: 25%;
  text-align: center;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

@media (max-width: 400px) {
  .reward-box {
    width: 33%;
  }
}
