@import "~src/scss/main.scss";

.form__row {
  width: 80%;
}

.formField {
  width: 70%;
}

.form-text{
    font-family: $font-family-1;
    font-weight: 600;
    color: $violet-1;
}

.header {
  font-size: 1.4rem;
  color: $violet-1;
  font-weight: 500;
}

.reward-box {
  box-shadow: $box-shadow-primary;
  margin: 0.5rem 0.5rem;
  width: 25%;
  text-align: center;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

// @media (max-width: 400px) {
//   .reward-box {
//     width: 33%;
//   }
// }
