<div *ngIf="isLoading" class="spinner-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="flex">
    <div mat-ripple [routerLink]="['', 'app', 'menu']" class="back-button">
      <ic-icon class="back-button--icon" icon="arrowBackUp"></ic-icon>
      <div class="back-button--back">Back</div>
    </div>
  </div>
  <div class="wrapper-flex-center">
    <img src="{{ familyUser.photo }}" class="photo photo-150" alt="" />
  </div>

  <div class="wrapper-flex-center mt-1rem">
    <form [formGroup] = "photoFormGroup"> 
      <label
        mat-ripple
        for="file-upload"
        class="violet photo-upload border-radius-20 flex flex-align-center"
      >
        <ic-icon class="font-size-2rem mr-05rem" icon="cameraChange"></ic-icon>
        Update photo
      </label>
      <input
        (change)="onImageUpload($event.target.files[0])"
        id="file-upload"
        formControlName="photo"
        type="file"
        accept=".jpg,.jpeg,.png"
      />
    </form>
  </div>
  <form class="form" [formGroup]="editFormGroup">
    <div class="form__row">
      <ic-icon
        [ngClass]="{
          'form__row--icon--red':
            editFormGroup.controls.name.invalid &&
            editFormGroup.controls.name.touched
        }"
        class="form__row--icon"
        icon="userOutlined"
      ></ic-icon>
      <mat-form-field class="form__row--form-field">
        <mat-label>Your first name</mat-label>
        <input
          formControlName="name"
          minlength="3"
          maxlength="20"
          matInput
          required
        />
        <mat-error *ngIf="editFormGroup.controls.name.invalid"
          >Name should have at least 3 characters</mat-error
        >
      </mat-form-field>
    </div>
    <div class="form__row">
      <ic-icon
        [ngClass]="{
          'form__row--icon--red':
            editFormGroup.controls.dateOfBirth.invalid &&
            editFormGroup.controls.dateOfBirth.touched
        }"
        class="form__row--icon"
        icon="birthdayCake"
      ></ic-icon>
      <mat-form-field class="form__row--form-field">
        <mat-label>Date of birth</mat-label>
        <input
          formControlName="dateOfBirth"
          matInput
          [matDatepicker]="dateOfBirth"
          readonly
          required
        />
        <mat-datepicker-toggle
          class="font-size-2rem"
          matSuffix
          [for]="dateOfBirth"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #dateOfBirth
          startView="multi-year"
          disabled="false"
        ></mat-datepicker>
        <mat-error *ngIf="editFormGroup.controls.dateOfBirth.invalid"
          >Please provide date of birth.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="wrapper-flex-center mt-2rem">
      <button
      (click)="onUpdate()"
      class="bttn bttn-primary bttn-violet bttn-clickable bttn-medium"
    >
      Update
    </button>
    </div>
  </form>
</div>
