@import "~src/scss/main.scss";

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $linear-gradient-90-1;
}

.form {
  &__row--form-field {
    width: 70%;
  }
  &__row--icon {
    font-size: 1.8rem;
  }
  &__button--primary {
    width: 60%;
  }
}

.custom-margin {
  margin-top: 50%;
}
.custom-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--radio {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.radio-checked-male{
  background: $blue-1;
}
.radio-checked-female{
  background: $pink-2;
}
.radio-checked-parent{
  background: $green;
}
.radio-checked-child{
  background: $light-green;
}



::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $pink-1 !important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $pink-1;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $pink-1;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $pink-1;
}
@media (min-width: 450px) {
  .custom-flex {
    justify-content: space-evenly;
  }
}
