/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~src/scss/variables.scss";
// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: '"Source Sans Pro", sans-serif;');
// @include mat-core($custom-typography);

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-1 !important;
}

*:focus{
  outline: none !important;
  outline-style: none !important;
}
button:focus,
button:active:focus,
button.active:focus {
  outline: 0 !important;
}
input:focus,
input:active:focus,
input.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00d4ff!important;
}

mat-spinner{
  top: 30%;
  margin: 0 auto;
}




.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.scrollbar{
  --scrollbar-padding: 10px;
  // --scrollbar-track-color: transparent;
  // --scrollbar-wrapper-color: transparent;
  // --scrollbar-thumb-color: rgba(152, 81, 180, 1);
  --scrollbar-size: 4px;
  
}

.container{
  // padding-top: 2rem;
  background: white;
  max-width: 500px;
  height: 100%;
  border-radius: 3rem;
  overflow: auto;
}


@media(max-width:500px){
  .container{
    border-radius: 0;
  }
  .scrollbar{
    --scrollbar-padding: 0px;
    // --scrollbar-track-color: transparent;
    // --scrollbar-wrapper-color: transparent;
    // --scrollbar-thumb-color: rgba(152, 81, 180, 1);
    --scrollbar-size: 0px;
  }
}
