/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: '"Source Sans Pro", sans-serif;');
// @include mat-core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
}
button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
input:focus,
input:active:focus,
input.active:focus {
  outline: none !important;
  outline-style: none !important;
}
