/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~src/scss/variables.scss";
// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: '"Source Sans Pro", sans-serif;');
// @include mat-core($custom-typography);

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-2 !important;
}

*:focus{
  outline: 0 !important;
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
button:focus,
button:active:focus,
button.active:focus {
  outline: 0 !important;
}
input:focus,
input:active:focus,
input.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00d4ff!important;
}


.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.scrollbar{
  --scrollbar-padding: 10px;
  // --scrollbar-track-color: transparent;
  // --scrollbar-wrapper-color: transparent;
  // --scrollbar-thumb-color: rgba(152, 81, 180, 1);
  --scrollbar-size: 4px;
  
}

ic-icon{
  display:flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:500px){
  .container{
    border-radius: 0;
  }
  // .scrollbar{
  //   --scrollbar-padding: 0px;
  //   // --scrollbar-track-color: transparent;
  //   // --scrollbar-wrapper-color: transparent;
  //   // --scrollbar-thumb-color: rgba(152, 81, 180, 1);
  //   --scrollbar-size: 0px;
  // }
}
.bttn-picker {
  background-color: $violet-primary;
  border: none;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 0.3rem 1.5rem;
}
.picker-handler{
    touch-action: none;
}

