// HOMEPAGE
@keyframes buttonIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes buttonIn2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes balloonLoading {
  33% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}

// $balloonX: 0.4rem;
// $balloon-X: -0.4rem;

// @keyframes balloonAnimationTEST {
//   0% {
//     transform: translateY(30rem);
//   }
//   10% {
//     transform: translate($balloonX, 27rem);
//   }
//   20% {
//     transform: translate($balloon-X, 24rem);
//   }
//   30% {
//     transform: translate($balloonX, 21rem);
//   }
//   40% {
//     transform: translate($balloon-X, 18rem);
//   }
//   50% {
//     transform: translate($balloonX, 15rem);
//   }
//   60% {
//     transform: translate($balloon-X, 12rem);
//   }
//   70% {
//     transform: translate($balloonX, 9rem);
//   }
//   80% {
//     transform: translate($balloon-X,6rem);
//   }
//   90% {
//     transform: translate($balloonX, 3rem);
//   }
//   100% {
//     transform: translate(0rem);
//   }
// }

@keyframes balloonAnimation {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translate(0rem);
    opacity: 1;
  }
}
@keyframes textInLeft {
  0% {
    transform: translateX(-3rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes textInLeft2 {
  0% {
    transform: translateX(-6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes textInRight {
  0% {
    transform: translateX(3rem);
    opacity: 0;
  }
  50% {
    transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes textInRight2 {
  0% {
    transform: translateX(6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// CALENDAR
@keyframes upToDownButton {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swipingRightCalendar {
  0% {
    z-index: -3;
  }

  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipingLeftCalendar {
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes calendarEventsIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes shoppingListItem {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  50% {
    opacity: 0;

    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
}

@keyframes buttonRotate {
  0% {
    opacity: 0;
    transform: rotate(720deg);
  }
  50% {
    opacity: 0.7;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes hideToLeft {
  100% {
    transform: translateX(-30rem);
  }
}

@keyframes chatMenuHide {
  50% {
    transform: translateX(-5rem);
  }

  90% {
    transform: translateX(-9rem);
  }

  100% {
    transform: translateX(-10rem);
    display: none;
  }
}

@keyframes rotate180 {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotateBack180 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}
