@import "~src/scss/variables.scss";
@import "~src/scss/gradients.scss";

.background {
  height: 100%;
  width: 100%;
  background-image: $linear-gradient-180-08,
    url(./../assets/Family-background2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.spacer {
  height: 100%;
  padding: 2rem 0;
}
.dot {
  border-radius: 50%;
  display: inline-block;
}

.dot-position{
  position: absolute;
  top:35%;

}
// .dot-small{

// }
.dot-medium{
  height: 12px;
  width: 12px;
}
.dot-big{
  height: 25px;
  width: 25px;
}

.dot-wrapper{
  position: relative;
}

.relative{
  position: relative;
}
.flex-space-beetwen{
  justify-content: space-between;
}
.width-100{
  width: 100%;
}

.bttn-primary {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.bttn-white {
  background-color: white;
  color: #000;
}
.bttn-blue {
  background-color: $blue-primary-1;
  color: #fff;
}
.bttn-violet {
  background-color: $violet-primary;
  color: #fff;
}
.bttn-big{
    padding: 1rem 4rem;
  }
.bttn-medium{
  padding: 1rem 2rem;
}

.bttn-clickable {
    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &:active {
        transform: translateY(0.1rem);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
    }
}

.bttn-animated {
  animation: buttonIn 2s ease-out;
}
.wrapper-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex{
  display: flex;
}
.flex-align-center{
  align-items: center;
}
.flex-row{
  flex-direction: row;
}

.img-resize80{
    height: 80px;
    width: 80px;
}
.img-resize150{
    height: 150px;
    width: 150px;
}

.spinner{
  height:400px;
}

@media (max-width: 500px) {
  .spacer {
    padding: 0;
  }
}

@media (min-width: 800px) {
  .background {
    background-image: $linear-gradient-180-08,
      url(./../assets/Family-background.jpg);
  }
}
@media(max-height: 900px){
    .spacer{
      padding: 0;
    }
}

.error{
  background: $red-primary-1;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-align: center;
  color: white;
}
