@import "~src/scss/variables.scss";

$linear-gradient-90-1: linear-gradient(
  90deg,
  $light-blue-1 0%,
  $violet-1 50%,
  $pink-1 100%
);
$linear-gradient2-90-1: linear-gradient(
  90deg,
  #00d4ff 0%,
  #28B8FE 40%,
  #6499F0  60%,
  #8E76D1 100%
  
);
$linear-gradient3-90-1: linear-gradient(
  90deg,
  $red-1 0%,
  $red-1 15%,
  $green 15%,
  $green 85%,
  $violet-1 85%,
  $violet-1 100%

);

$linear-gradient-90-05: linear-gradient(
  90deg,
  rgba(0, 212, 255, 1) 0%,
  rgba(86, 86, 185, 1) 50%,
  rgba(152, 81, 180, 1) 100%
);

$linear-gradient-90-1-reverse: linear-gradient(
  90deg,
  $pink-1 0%,
  $violet-1 50%,
  $light-blue-1 100%
);
$linear-gradient-90-1-1half: linear-gradient(
  90deg,
  $light-blue-1 0%,
  $violet-1 100%
);
$linear-gradient-90-1-2half: linear-gradient(
  90deg,
  $violet-1 0%,
  $pink-1 100%
);

$linear-gradient-135-1: linear-gradient(
  135deg,
  $light-blue-1 0%,
  $violet-1 50%,
  $pink-1 100%
);
$linear-gradient-180-08: linear-gradient(
  180deg,
  rgba(0, 212, 255, 0.8) 0%,
  rgba(86, 86, 185, 0.8) 50%,
  rgba(152, 81, 180, 0.8) 100%
);
$linear-gradient-135-05: linear-gradient(
  135deg,
  rgba(0, 212, 255, 0.4) 0%,
  rgba(86, 86, 185, 0.4) 50%,
  rgba(152, 81, 180, 0.4) 100%
);
$linear-gradient-180-1: linear-gradient(
  180deg,
  $light-blue-1 0%,
  $violet-1 50%,
  $pink-1 100%
);

$linear-gradient-45-1: linear-gradient(
  90deg,
  $light-blue-1 33.333%, 
  $violet-1 33.333%, 
  $violet-1 66.666%, 
  $pink-1 66.666%);

