

$linear-gradient-180-08: linear-gradient(
  180deg,
  rgba(0, 212, 255, 0.8) 0%,
  rgba(86, 86, 185, 0.8) 50%,
  rgba(152, 81, 180, 0.8) 100%
);
$linear-gradient-90-1: linear-gradient(
  90deg,
  rgba(0, 212, 255, 1) 0%,
  rgba(86, 86, 185, 1) 50%,
  rgba(152, 81, 180, 1) 100%
);
$linear-gradient-135-1: linear-gradient(
  135deg,
  rgba(0, 212, 255, 1) 0%,
  rgba(86, 86, 185, 1) 50%,
  rgba(152, 81, 180, 1) 100%
);
$linear-gradient-180-1: linear-gradient(
  180deg,
  rgba(0, 212, 255, 1) 0%,
  rgba(86, 86, 185, 1) 50%,
  rgba(152, 81, 180, 1) 100%
);
$linear-gradient-90-1-reverse: linear-gradient(
  90deg,
  rgba(152, 81, 180, 1) 0%,
  rgba(86, 86, 185, 1) 50%,
  rgba(0, 212, 255, 1) 100%
);
$linear-gradient-90-1-1half: linear-gradient(
  90deg,
  rgba(0, 212, 255, 1) 0%,
  rgba(86, 86, 185, 1) 100%
);
$linear-gradient-90-1-2half: linear-gradient(
  90deg,
  rgba(86, 86, 185, 1) 0%,
  rgba(152, 81, 180, 1) 100%
);