.mt-05rem {
  margin-top: 0.5rem;
}
.mt-1rem {
  margin-top: 1rem;
}
.mt-15rem {
  margin-top: 1.5rem;
}
.mt-2rem {
  margin-top: 2rem;
}
.mt-3rem {
  margin-top: 3rem;
}
.mt-4rem {
  margin-top: 4rem;
}
.mt-5rem {
  margin-top: 5rem;
}
.mt-6rem {
  margin-top: 6rem;
}
.mt-7rem {
  margin-top: 7rem;
}
.mr-05rem {
  margin-right: 0.5rem;
}
.mr-1rem {
  margin-right: 1rem;
}
.mr-15rem {
  margin-right: 1.5rem;
}
.mr-2rem {
  margin-right: 2rem;
}
.mr-3rem {
  margin-right: 3rem;
}
.mr-4rem {
  margin-right: 4rem;
}
.mb-1rem {
  margin-bottom: 1rem;
}
.mb-15rem {
  margin-bottom: 1.5rem;
}
.mb-2rem {
  margin-bottom: 2rem;
}
.mb-3rem {
  margin-bottom: 3rem;
}
.mb-4rem {
  margin-bottom: 4rem;
}
.ml-05rem {
  margin-left: 0.5rem;
}
.ml-1rem {
  margin-left: 1rem;
}
.ml-15rem {
  margin-left: 1.5rem;
}
.ml-2rem {
  margin-left: 2rem;
}
.ml-3rem {
  margin-left: 3rem;
}
.ml-4rem {
  margin-left: 4rem;
}
.mlr-05rem {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mlr-1rem {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mlr-15rem {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mlr-2rem {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mlr-3rem {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mlr-4rem {
  margin-left: 4rem;
  margin-right: 4rem;
}
.mtb-05rem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mtb-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mtb-15rem {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mtb-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mtb-3rem {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mtb-4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pt-1rem {
  padding-top: 1rem;
}
.pt-2rem {
  padding-top: 2rem;
}
.pt-3rem {
  padding-top: 3rem;
}
.pt-4rem {
  padding-top: 4rem;
}
.pr-1rem {
  padding-right: 1rem;
}
.pr-2rem {
  padding-right: 2rem;
}
.pr-3rem {
  padding-right: 3rem;
}
.pr-4rem {
  padding-right: 4rem;
}
.pb-1rem {
  padding-bottom: 1rem;
}
.pb-2rem {
  padding-bottom: 2rem;
}
.pb-3rem {
  padding-bottom: 3rem;
}
.pb-4rem {
  padding-bottom: 4rem;
}
.pl-1rem {
  padding-left: 1rem;
}
.pl-2rem {
  padding-left: 2rem;
}
.pl-3rem {
  padding-left: 3rem;
}
.pl-4rem {
  padding-left: 4rem;
}
.p-1rem {
  padding: 1rem;
}
.p-2rem {
  padding: 2rem;
}
.p-3rem {
  padding: 3rem;
}
.p-4rem {
  padding: 4rem;
}

.font-size-11rem {
  font-size: 1.1rem;
}
.font-size-12rem {
  font-size: 1.2rem;
}
.font-size-13rem {
  font-size: 1.3rem;
}
.font-size-14rem {
  font-size: 1.4rem;
}
.font-size-15rem {
  font-size: 1.5rem;
}
.font-size-16rem {
  font-size: 1.6rem;
}
.font-size-17rem {
  font-size: 1.7rem;
}
.font-size-18rem {
  font-size: 1.8rem;
}
.font-size-19rem {
  font-size: 1.9rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-25rem {
  font-size: 2.5rem;
}
.font-size-3rem {
  font-size: 3rem;
}

.border-radius-10{
  border-radius: 10px;
}
.border-radius-20{
  border-radius: 20px;
}
.border-radius-30{
  border-radius: 30px;
}
.border-radius-40{
  border-radius: 40px;
}


.violet{
  color: $violet-primary;
}

.font-family-1{
  font-family: $font-family-1;
}
.font-family-2{
  font-family: $font-family-2;
}