.mt-05rem {
  margin-top: 0.5rem;
}
.mt-1rem {
  margin-top: 1rem;
}
.mt-15rem {
  margin-top: 1.5rem;
}
.mt-2rem {
  margin-top: 2rem;
}
.mt-3rem {
  margin-top: 3rem;
}
.mt-4rem {
  margin-top: 4rem;
}
.mt-5rem {
  margin-top: 5rem;
}
.mt-6rem {
  margin-top: 6rem;
}
.mt-7rem {
  margin-top: 7rem;
}
.mt-10rem {
  margin-top: 10rem;
}
.mr-05rem {
  margin-right: 0.5rem;
}
.mr-1rem {
  margin-right: 1rem;
}
.mr-15rem {
  margin-right: 1.5rem;
}
.mr-2rem {
  margin-right: 2rem;
}
.mr-3rem {
  margin-right: 3rem;
}
.mr-4rem {
  margin-right: 4rem;
}
.mb-05rem {
  margin-bottom: 0.5rem;
}
.mb-1rem {
  margin-bottom: 1rem;
}
.mb-15rem {
  margin-bottom: 1.5rem;
}
.mb-2rem {
  margin-bottom: 2rem;
}
.mb-3rem {
  margin-bottom: 3rem;
}
.mb-4rem {
  margin-bottom: 4rem;
}
.ml-05rem {
  margin-left: 0.5rem;
}
.ml-1rem {
  margin-left: 1rem;
}
.ml-15rem {
  margin-left: 1.5rem;
}
.ml-2rem {
  margin-left: 2rem;
}
.ml-3rem {
  margin-left: 3rem;
}
.ml-4rem {
  margin-left: 4rem;
}
.mlr-05rem {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mlr-1rem {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mlr-15rem {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mlr-2rem {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mlr-3rem {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mlr-4rem {
  margin-left: 4rem;
  margin-right: 4rem;
}
.mtb-05rem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mtb-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mtb-15rem {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mtb-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mtb-3rem {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mtb-4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ptb-05rem{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ptb-1rem{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ptb-2rem{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ptb-3rem{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.ptb-4rem{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.plr-05rem{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.plr-1rem{
  padding-right: 1rem;
  padding-left: 1rem;
}
.plr-2rem{
  padding-right: 2rem;
  padding-left: 2rem;
}
.plr-3rem{
  padding-right: 3rem;
  padding-left: 3rem;
}
.plr-4rem{
  padding-right: 4rem;
  padding-left: 4rem;
}

.pt-1rem {
  padding-top: 1rem;
}
.pt-2rem {
  padding-top: 2rem;
}
.pt-3rem {
  padding-top: 3rem;
}
.pt-4rem {
  padding-top: 4rem;
}
.pr-1rem {
  padding-right: 1rem;
}
.pr-2rem {
  padding-right: 2rem;
}
.pr-3rem {
  padding-right: 3rem;
}
.pr-4rem {
  padding-right: 4rem;
}
.pb-1rem {
  padding-bottom: 1rem;
}
.pb-2rem {
  padding-bottom: 2rem;
}
.pb-3rem {
  padding-bottom: 3rem;
}
.pb-4rem {
  padding-bottom: 4rem;
}
.pl-1rem {
  padding-left: 1rem;
}
.pl-2rem {
  padding-left: 2rem;
}
.pl-3rem {
  padding-left: 3rem;
}
.pl-4rem {
  padding-left: 4rem;
}
.p-05rem {
  padding: 0.5rem;
}
.p-07rem {
  padding: 0.7rem;
}
.p-1rem {
  padding: 1rem;
}
.p-2rem {
  padding: 2rem;
}
.p-3rem {
  padding: 3rem;
}
.p-4rem {
  padding: 4rem;
}
.p-d-05rem {
  padding: 0.5rem;
}
.p-d-1rem {
  padding: 1rem;
}
.p-d-2rem {
  padding: 2rem;
}
.p-d-3rem {
  padding: 3rem;
}
.p-d-4rem {
  padding: 4rem;
}

.font-size-11rem {
  font-size: 1.1rem;
}
.font-size-12rem {
  font-size: 1.2rem;
}
.font-size-13rem {
  font-size: 1.3rem;
}
.font-size-14rem {
  font-size: 1.4rem;
}
.font-size-15rem {
  font-size: 1.5rem;
}
.font-size-16rem {
  font-size: 1.6rem;
}
.font-size-17rem {
  font-size: 1.7rem;
}
.font-size-18rem {
  font-size: 1.8rem;
}
.font-size-19rem {
  font-size: 1.9rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-25rem {
  font-size: 2.5rem;
}
.font-size-3rem {
  font-size: 3rem;
}
.font-size-4rem {
  font-size: 4rem;
}
.font-size-5rem {
  font-size: 5rem;
}

.border-radius-10{
  border-radius: 10px;
}
.border-radius-20{
  border-radius: 20px;
}
.border-radius-30{
  border-radius: 30px;
}
.border-radius-40{
  border-radius: 40px;
}
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}
.width-40 {
  width: 40%;
}
.width-30 {
  width: 30%;
}
.width-20 {
  width: 20%;
}
.width-15 {
  width: 15%;
}
.width-10 {
  width: 10%;
}
.height-100 {
  height: 100%;
}
.height-90 {
  height: 90%;
}
.height-80 {
  height: 80%;
}
.height-70 {
  height: 70%;
}
.height-60 {
  height: 60%;
}
.height-50 {
  height: 50%;
}
.height-40 {
  height: 40%;
}
.height-30 {
  height: 30%;
}
.height-20 {
  height: 20%;
}
.height-10 {
  height: 10%;
}




.font-family-1{
  font-family: $font-family-1;
}
.font-family-2{
  font-family: $font-family-2;
}

.font-weight-300{
  font-weight: 300;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}
.font-weight-700{
  font-weight: 700;
}

.mt-d-05rem{
  margin-top: 0.5rem
}
.mt-d-1rem{
  margin-top: 1rem
}
.mt-d-2rem{
  margin-top: 2rem
}
.mt-d-3rem{
  margin-top: 3rem
}
.mt-d-4rem{
  margin-top: 4rem
}
.mr-d-05rem{
  margin-right: 0.5rem
}
.mr-d-1rem{
  margin-right: 1rem
}
.mr-d-2rem{
  margin-right: 2rem
}
.mr-d-3rem{
  margin-right: 3rem
}
.mr-d-4rem{
  margin-right: 4rem
}
.ml-d-05rem{
  margin-left: 0.5rem
}
.ml-d-1rem{
  margin-left: 1rem
}
.ml-d-2rem{
  margin-left: 2rem
}
.ml-d-3rem{
  margin-left: 3rem
}
.ml-d-4rem{
  margin-left: 4rem
}
.mb-d-05rem{
  margin-bottom: 0.5rem
}
.mb-d-1rem{
  margin-bottom: 1rem
}
.mb-d-2rem{
  margin-bottom: 2rem
}
.mb-d-3rem{
  margin-bottom: 3rem
}
.mb-d-4rem{
  margin-bottom: 4rem
}

.display-m{
  display: none;
}




@media(max-width: 500px){

  .display-m{
    display: block;
  }
  .display-d{
    display: none;
  }

  .mt-d-05rem{
    margin-top: 0
  }
  .mt-d-1rem{
    margin-top: 0
  }
  .mt-d-2rem{
    margin-top: 0
  }
  .mt-d-3rem{
    margin-top: 0
  }
  .mt-d-4rem{
    margin-top: 0
  }
  .mr-d-05rem{
    margin-right: 0
  }
  .mr-d-1rem{
    margin-right: 0
  }
  .mr-d-2rem{
    margin-right: 0
  }
  .mr-d-3rem{
    margin-right: 0
  }
  .mr-d-4rem{
    margin-right: 0
  }
  .ml-d-05rem{
    margin-left: 0
  }
  .ml-d-1rem{
    margin-left: 0
  }
  .ml-d-2rem{
    margin-left: 0
  }
  .ml-d-3rem{
    margin-left: 0
  }
  .ml-d-4rem{
    margin-left: 0
  }
  .mb-d-05rem{
    margin-bottom: 0
  }
  .mb-d-1rem{
    margin-bottom: 0
  }
  .mb-d-2rem{
    margin-bottom: 0
  }
  .mb-d-3rem{
    margin-bottom: 0
  }
  .mb-d-4rem{
    margin-bottom: 0
  }

  .p-d-05rem {
    padding: 0;
  }
  .p-d-1rem {
    padding: 0;
  }
  .p-d-2rem {
    padding: 0;
  }
  .p-d-3rem {
    padding: 0;
  }
  .p-d-4rem {
    padding: 0;
  }



  .mt-m-05rem{
    margin-top: 0.5rem;
  }
  .mt-m-1rem{
    margin-top: 1rem;
  }
  .mt-m-2rem{
    margin-top: 2rem;
  }
  .mt-m-3rem{
    margin-top: 3rem;
  }
  .mt-m-4rem{
    margin-top: 4rem;
  }
  .mt-m-5rem{
    margin-top: 5rem;
  }
  .mr-m-05rem{
    margin-right: 0.5rem;
  }
  .mr-m-1rem{
    margin-right: 1rem;
  }
  .mr-m-2rem{
    margin-right: 2rem;
  }
  .mr-m-3rem{
    margin-right: 3rem;
  }
  .mr-m-4rem{
    margin-right: 4rem;
  }
  .mr-m-5rem{
    margin-right: 5rem;
  }
  .ml-m-05rem{
    margin-left: 0.5rem;
  }
  .ml-m-1rem{
    margin-left: 1rem;
  }
  .ml-m-2rem{
    margin-left: 2rem;
  }
  .ml-m-3rem{
    margin-left: 3rem;
  }
  .ml-m-4rem{
    margin-left: 4rem;
  }
  .ml-m-5rem{
    margin-left: 5rem;
  }
  .mb-m-05rem{
    margin-bottom: 0.5rem;
  }
  .mb-m-1rem{
    margin-bottom: 1rem;
  }
  .mb-m-2rem{
    margin-bottom: 2rem;
  }
  .mb-m-3rem{
    margin-bottom: 3rem;
  }
  .mb-m-4rem{
    margin-bottom: 4rem;
  }
  .mb-m-5rem{
    margin-bottom: 5rem;
  }


  .p-m-05rem {
    padding: 0.5rem;
  }
  .p-m-1rem {
    padding: 1rem;
  }
  .p-m-2rem {
    padding: 2rem;
  }
  .p-m-3rem {
    padding: 3rem;
  }
  .p-m-4rem {
    padding: 4rem;
  }


}