$blue-1: #346beb;
$blue-2: #5c80d8;
$light-blue-1: #00d4ff;
$light-blue-1rgba: rgba(0, 212, 255, 1);
$pink-1: #9851b4;
$pink-1rgba: rgba(152, 81, 180, 1);
$pink-2: #f38bfc;
$violet-1: #5656b9;
$violet-1-light: #6777ca;
$violet-1-dark: #4545a8;
$red-1: #e65050;
$light-green: #8df0bd;
$green: #30f08d;
$gray-1: #dee3e0;

$background-gray: #f7f9fc;
$text-gray: #9c9a9a;

$font-family-1: "Source Sans Pro", sans-serif;
$font-family-2: "Quicksand", sans-serif;
$font-family-3: "Shadows Into Light", cursive;
$font-family-4: 'Amatic SC', cursive;

$box-shadow-primary: rgba(149, 157, 165, 0.2) 8px 8px 24px;
$box-shadow-secondary: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$box-shadow-strong: rgba(0, 0, 0, 0.35) 0px 5px 15px;
