@import "~src/scss/main.scss";


.calendar-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  &--menu-icon{
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-right: auto;
  }
  &--left-icon{
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
  }
  &--date{  
    width: 130px;
    text-align: center;
    font-weight: 600;
    color: $violet-1;
  }
  &--right-icon{
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
  }
  &--add-icon{
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-left: auto;
  }

  &--left-icon:active, &--right-icon:active{
    animation-name: upToDownButton;
    animation-duration: 0.2s;
  }
}

.calendar-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin: 2rem 0;
  border: 1px solid #dee2e6;
  background-color: #fff;
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    width: 14.28%;
    text-align: center;
  }
  td,
  th {
    // border: 1px solid #dee2e6;
    padding: 1rem;
    vertical-align: center;
  }

  &--swipingRight{
    animation: swipingRightCalendar 1s ease-in;
  }
  &--swipingLeft{
    animation: swipingLeftCalendar 1s ease-in;
  }
}

.calendar-day {
  height: 7vh;
  // max-height: 7vh;

  cursor: pointer;
  &-number {
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.not-this-month {
  color: #c4c3be;
}
.active-date {
  width: 100%;
  position: relative;
  display: flex;
  color: #fff;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &::before {
    background: $violet-1;
    border-radius: 50%;
    width: 30px;
    content: "";
    padding-bottom: 30px;
    position: absolute;
    z-index: -1;
  }
}

.has-event{
  position: relative;
  &::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #e620dc;
    height: 4px;
    width: 4px;
    bottom: 130%;
    content: '';
    left: 50%;
  }
}


.day-header{
  overflow: hidden;
  color: $violet-1;
  text-align: center;
  font-weight: 600;
  &::before, &::after {
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before{
    // background-color: $linear-gradient-90-1-1half;
    background: $linear-gradient-90-1-1half;
    right: 1rem;
    margin-left: -50%;
  }
  &::after{
    background: $linear-gradient-90-1-2half;
    left: 1rem;
    margin-right: -50%;
  }
}


.events {

  &__row {
    display: flex;
    margin-bottom: 1rem;
    // box-shadow: $box-shadow-secondary;
    padding: 0.7rem 0;
    animation-name: calendarEventsIn;
    animation-duration: 0.35s;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    
    &--icon{
      position: relative;
      margin-right: 2rem;
      margin-left: 1rem;

      &::before {
        // transform: translateX(-50%);
        border-radius: 100%;
        position: absolute;
        height: 12px;
        width: 12px;
        content: '';
        top:35%;

      }
    }

    &--title {
      font-weight: 600;
      font-size: 0.9rem;
      // text-align: center;
      font-family: $font-family-1;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5rem;
    }
    &--hours{
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: auto;
      padding: 0.5rem;
      color: #a3a3a3;
      font-size: 0.8rem;
      min-width: 90px;
    }
  }
}

.no-events{
  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $violet-1;
    font-family: $font-family-2;
    font-size: 1.3rem;
    margin-top: 1.3rem;
  }
}

