@import "~src/scss/main.scss";

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;

  &--menu-icon {
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-right: auto;
    cursor: pointer;
  }
  &--left-icon {
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    cursor: pointer;
  }
  &--date {
    width: 130px;
    text-align: center;
    font-weight: 600;
    color: $violet-1;
    cursor: pointer;
    text-transform: capitalize;
  }
  &--right-icon {
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    cursor: pointer;
  }
  &--add-icon {
    color: $violet-1;
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-left: auto;
    cursor: pointer;
  }

  &--left-icon:active,
  &--right-icon:active {
    animation-name: upToDownButton;
    animation-duration: 0.2s;
  }
}

.calendar-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin: 3rem 0;
  border: 1px solid #dee2e6;
  background-color: #fff;
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    width: 14.28%;
    text-align: center;
  }
  td,
  th {
    // border: 1px solid #dee2e6;
    // padding: 1rem;
    vertical-align: center;
  }
  th {
    padding: 1rem;
  }

  &--swipingRight {
    animation: swipingRightCalendar 1s ease-in;
  }
  &--swipingLeft {
    animation: swipingLeftCalendar 1s ease-in;
  }
}

.calendar-day {
  height: 8vh;
  position: relative;

  cursor: pointer;
  &-number {
    font-weight: 600;
    text-align: center;
    margin: 0;
    width: 100%;
  }
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.not-this-month {
  color: #c4c3be;
}
.active-date {
  width: 100%;
  position: relative;
  display: flex;
  color: #fff;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &::before {
    background: $violet-1;
    border-radius: 50%;
    width: 30px;
    content: "";
    padding-bottom: 30px;
    position: absolute;
    z-index: -1;
  }
}

.has-event {
  position: relative;
  &::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    height: 5px;
    width: 5px;
    top: -10px;
    content: "";
  }
}

.has-event-1-1 {
  &::before {
    background: $dot-1;
    left: 50%;
  }
}
.has-event-2-1 {
  &::before {
    background: $dot-1;
    left: 37%;
  }
}
.has-event-2-2 {
  &::before {
    background: $dot-2;
    left: 62%;
  }
}
.has-event-3-1 {
  &::before {
    background: $dot-1;
    left: 25%;
  }
}
.has-event-3-2 {
  &::before {
    background: $dot-2;
    left: 50%;
  }
}
.has-event-3-3 {
  &::before {
    background: $dot-3;
    left: 75%;
  }
}

.has-event-big {
  position: relative;
  &::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: $dot-4;
    height: 8px;
    width: 8px;
    top: -16px;
    content: "";
    left: 50%;
  }
}

.day-header {
  overflow: hidden;
  color: $violet-1;
  text-align: center;
  font-weight: 600;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before {
    // background-color: $linear-gradient-90-1-1half;
    background: $linear-gradient-90-1-1half;
    right: 1rem;
    margin-left: -50%;
  }
  &::after {
    background: $linear-gradient-90-1-2half;
    left: 1rem;
    margin-right: -50%;
  }
}

.events {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0.7rem 0.2rem;

  &__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &--title {
      font-weight: 600;
      font-size: 1.2rem;
      color: $violet-1;
      text-align: center;
      padding: 0.5rem;
    }
    &--date {
      text-align: center;
      padding: 0.5rem;
      color: $text-gray;
      font-size: 1rem;
      font-weight: 500;
      // &--hours{
      //   color: $violet-1;
      //   font-size: 1rem;
      //   font-weight: 500;
      // }
    }
    &--break {
      margin: 0.5rem 0;
    }
  }
}

:host ::ng-deep table .mat-ripple {
  overflow: visible !important;
}

.bttn-icon {
  width: auto;
}

.no-events {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $violet-1;
    font-family: $font-family-2;
    font-size: 1.3rem;
    margin-top: 1.3rem;
  }
}

@media (min-width: 450px) {
  .has-event-2-1 {
    &::before {
      left: 41%;
    }
  }
  .has-event-2-2 {
    &::before {
      left: 58%;
    }
  }
  .has-event-3-1 {
    &::before {
      left: 33%;
    }
  }
  .has-event-3-2 {
    &::before {
      left: 50%;
    }
  }
  .has-event-3-3 {
    &::before {
      left: 66%;
    }
  }
}

@media (max-height: 1400px) and (min-width: 500px) {
  .sides {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start
  }
  .side-left,
  .side-right {
    width: 45%;
  }

  .side-left{
    position: sticky;
    width: 40%;
    // margin-top: 45px;
    top: 45px;
  }
  .side-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    left: 55%;
    // margin-top: 2rem;
  }
  .day-header{
    display: none;
  }
  .no-events__wrapper{
    height: 100%;
  }
}

// @media (max-width: 400px) {
//   .events__row {
//     flex-direction: column;
//     justify-content: left;

//     &--title {
//       width: 100%;
//       max-width: 100%;
//       text-align: center;
//     }
//   }
// }
