@import "~src/scss/variables.scss";
@import "~src/scss/animations.scss";


.calendar-header{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;

  &--menu-icon{
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-right: auto;
  }
  &--left-icon{
    font-size: 1.6rem;
    padding: 0 0.5rem;
  }
  &--date{  
    width: 130px;
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 600;
    color: $blue-primary;
  }
  &--right-icon{
    font-size: 1.6rem;
    padding: 0 0.5rem;
  }
  &--add-icon{
    font-size: 1.6rem;
    padding: 0 0.5rem;
    margin-left: auto;
  }

  &--left-icon:active, &--right-icon:active{
    animation-name: upToDownButton;
    animation-duration: 0.2s;
  }
}

.calendar-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin: 2rem 0;
  border: 1px solid #dee2e6;
  background-color: #fff;
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    width: 14.28%;
    text-align: center;
  }
  td,
  th {
    // border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: center;
  }
  td{
    width: 1%;
  }
  &--swipingRight{
    animation: swipingRightCalendar 1s ease-in;
  }
  &--swipingLeft{
    animation: swipingLeftCalendar 1s ease-in;
  }
}

.calendar-day {
  height: 7vh;
  // max-height: 7vh;

  cursor: pointer;
  &-number {
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.not-this-month {
  color: #c4c3be;
}
.active-date {
  width: 100%;
  position: relative;
  display: flex;
  color: #fff;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &::before {
    background: $blue-primary;
    border-radius: 50%;
    width: 100%;
    content: "";
    padding-bottom: 100%;
    position: absolute;
    z-index: -1;
  }
}

.has-event{
  position: relative;

  &::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #e620dc;
    height: 5px;
    width: 5px;
    bottom: 125%;
    content: '';
    left: 50%;
  }
}


.day-header{
  overflow: hidden;
  color: $blue-primary;
  text-align: center;
  font-weight: 600;
  &::before, &::after {
    background-color: #e2e2e2;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before{
    right: 1rem;
    margin-left: -50%;
  }
  &::after{
    left: 1rem;
    margin-right: -50%;
  }
}


.events {

  &__row {
    display: flex;
    margin-bottom: 1rem;
    // box-shadow: $box-shadow-secondary;
    padding: 0.7rem 0;
    
    &--icon{
      position: relative;
      margin-right: 2rem;
      margin-left: 1rem;

      &::before {
        // transform: translateX(-50%);
        border-radius: 100%;
        position: absolute;
        background: red;
        height: 12px;
        width: 12px;
        content: '';
        top:35%;

      }
    }

    &--title {
      font-weight: 600;
      font-size: 0.9rem;
      // text-align: center;
      padding: 0.5rem;
    }
    &--hours{
      margin-left: auto;
      padding: 0.5rem;
      color: #a3a3a3;
      font-size: 0.8rem;
      min-width: 90px;
    }
  }
}

