@import "~src/scss/main.scss";


.settings{
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 20px;
        margin-top: 1rem;
        cursor: pointer;

        &--title{
            font-weight: 500;
            color: $violet-1;
            font-size: 1.5rem;
        }
        &--icon{
            font-size: 1.4rem;
            margin-left: 1rem;
            color: $violet-1;
        }
        &--logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;
        }
    }
    &__main{
        display: flex;
        flex-direction: column;
    }
}

.setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    &--title{
        color: $violet-1;
        font-size: 1.1rem;
        margin-left: 3rem;
        font-weight: 500;

    }
    &--slide{
        // margin-left: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}



.arrow-to-top {
    animation: rotate180 0.4s ease-in forwards;
  }
  .arrow-to-bot {
    animation: rotateBack180 0.4s ease-in forwards;
  }