@import "~src/scss/main.scss";

.image-wrapper {
  padding-top: 3rem;

  &--image {
    width: 100px;
    height: 100px;
    animation: balloonAnimation 1s ease-in;
  }
}

.custom-loading{
  margin-top:10rem;
}

.heading {
  font-family: $font-family-2;
  color: white;
  &--primary {
    font-size: 2.2rem;
    margin-top: 2rem;
    letter-spacing: 3px;
    animation: textInLeft 2s ease-out;
    // font-weight: 600;
    // text-transform: uppercase;
  }
  &--secondary {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4rem;
    padding: 0 1rem;
    animation: textInRight 2s ease-out;
    // font-weight: 600;
    // letter-spacing: 5px;
    // text-transform: uppercase;
  }

}

.custom-flex{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.custom-margin{
  margin-top: 2rem;
}
.spacer{
  padding: 0;
}
.custom-padding{
  padding: 1rem 2rem;
}


@media (min-width: 800px) {
  .image-wrapper {
    &--image {
      width: 200px;
      height: 200px;
    }
  }
  .custom-flex{
    flex-direction: row;
  }
  .custom-margin{
    margin: 0 1rem;
  }
  .custom-padding{
    padding: 1rem 4rem;
  }
}
